/**
 *	Buttons
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

@mixin button-style($prefix, $bg, $color, $border) {

  &.ui-button-#{$prefix} {
	color: $color;
	background: linear-gradient(top, $bg, darken($bg, 2%));
	border-color: $border;
	text-shadow: 0 1px 0 rgba(contrast($color, #787878, #fff), 0.5);

	&:hover, &.ui-dropdown {
	  $hover-bg: shade($bg, 6%);
	  border-color: shade($border, 10%);
	  background: linear-gradient(top, $hover-bg, darken($hover-bg, 4%));
	}
	&:focus {
	  @include box-shadow(1px 1px 1px 0 $base-shadow-color, 0 0 3px 0 $color inset);
	}
	&:active, &.ui-dropdown {
	  @include box-shadow(1px 1px 1px 0 $base-shadow-color,
			  1px 1px 1px 0 rgba(#000, 0.5) inset,
			  -1px -1px 1px 0 rgba(#fff, 0.5) inset);
	}
	i.ui-caret {
	  color: rgba($color, 0.6);
	}
  }
}

.ui-button {
  padding: $base-padding;
  font: {
	size: 1rem;
	weight: $font-weight-normal;
  }
  line-height: 1.2rem;
  border: {
	width: 1px;
	style: solid;
	color: $base-border-color;
	radius: $base-border-radius;
  }
  @include box-shadow(1px 1px 1px 0 $base-shadow-color);

  &.ui-default {
	font-weight: $font-weight-strong;
  }

  &[disabled] {
	opacity: 0.6;
	cursor: not-allowed;
  }

  &.ui-dropdown:not(.ui-menu-reverse) {
	@include border-bottom-radius(0);
	+ .ui-floating {
	  @include transition(max-height 0.3s);
	  @include border-top-radius(0);
	  visibility: visible !important;
	  max-height: 320px !important;
	  @include box-shadow(2px 3px 5px 0 rgba($black, 0.25));
	}
  }
  &.ui-dropdown.ui-menu-reverse {
	@include border-top-radius(0);
	+ .ui-floating {
	  @include transition(max-height 0.3s);
	  @include border-bottom-radius(0);
	  visibility: visible !important;
	  max-height: 320px !important;
	  @include box-shadow(2px -3px 5px 0 rgba($black, 0.25));
	}
  }

  &, & i {
	cursor: pointer;
  }

  i {
	font-style: normal;
  }

  i.ui-caret {
	color: rgba(#333, 0.6);
	&:after {
	  content: '\25be';
	}
  }

  &.ui-menu-right {
	&.ui-dropdown {
	  @include border-left-radius($base-border-radius);
	  @include border-right-radius(0);
	  + .ui-floating {
		@include transition(max-height 0.3s);
		@include border-radius($base-border-radius);
		@include border-top-left-radius(0);
		visibility: visible !important;
		max-height: 480px !important;
		@include box-shadow(3px 2px 5px 0 rgba($black, 0.25));
	  }
	}
	&.ui-dropdown.ui-menu-reverse {
	  + .ui-floating {
		@include border-radius($base-border-radius);
		@include border-bottom-left-radius(0);
		@include box-shadow(3px -2px 5px 0 rgba($black, 0.25));
	  }
	}
	i.ui-caret:after {
	  content: '\25b8';
	}
  }

  &.ui-menu-left {
	&.ui-dropdown {
	  @include border-right-radius($base-border-radius);
	  @include border-left-radius(0);
	  + .ui-floating {
		@include border-radius($base-border-radius);
		@include border-top-right-radius(0);
	  }
	}
	&.ui-dropdown.ui-menu-reverse {
	  + .ui-floating {
		@include border-radius($base-border-radius);
		@include border-bottom-right-radius(0);
	  }
	}
  }

  &.ui-button-small {
	padding: 0.1rem 0.3rem;
	font-size: 0.85rem;
  }
  &.ui-button-large {
	padding: 0.6rem 1.4rem;
	font-size: 1.2rem;
  }

  @include button-style(default, $base-bg, $primary, $base-border-color);
  @include button-style(primary, $button-primary-bg, $button-primary-text, $button-primary-border);
  @include button-style(secondary, $button-secondary-bg, $button-secondary-text, $button-secondary-border);
  @include button-style(info, $button-info-bg, $button-info-text, $button-info-border);
  @include button-style(danger, $button-danger-bg, $button-danger-text, $button-danger-border);
  @include button-style(success, $button-success-bg, $button-success-text, $button-success-border);
  @include button-style(warning, $button-warning-bg, $button-warning-text, $button-warning-border);
}

.ui-button-group {
  @include flexbox((
		  display: inline-flex,
		  flex-direction:row,
		  flex-wrap:nowrap,
		  align-items:stretch
  ));

  .ui-button {
	@include flex(0 0 auto);
	border-radius: 0;

	&.ui-checked {
	  color: $button-toggle-active-text;
	  text-shadow: 0 -1px 0 contrast($button-toggle-active-text, #787878, #fff);
	  background: linear-gradient(top, darken($button-toggle-active-bg, 5%), $button-toggle-active-bg);
	  @include box-shadow(1px 1px 1px 0 $base-shadow-color, 1px 1px 3px 2px darken($button-toggle-active-bg, 15%) inset);
	}
  }

  &:not(.ui-vertical) .ui-button {
	border-left-width: 0;
	margin: 2px 0;

	&:first-child {
	  border-left-width: 1px;
	  @include border-left-radius($base-border-radius);
	}
	&:last-child {
	  @include border-right-radius($base-border-radius);
	}
  }

  &.ui-vertical {
	@include flex-direction(column);
	.ui-button {
	  border-top-width: 0;
	  margin: 0 2px;

	  &:first-child {
		border-top-width: 1px;
		@include border-top-radius($base-border-radius);
	  }
	  &:last-child {
		@include border-bottom-radius($base-border-radius);
	  }
	}
  }
}