/**
 *	ChosenJS Stylings
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/
@import "chosen.min";

.ui-chosen {

  .ui-form-control {
	li.ui-icon {
	  padding-left: 26px !important;
	  background-position: 2px center;

	  &.ui-flag {
		background-size: 18px 18px;
	  }
	}

	li {
	  color: $input-text;
	}

	li.no-results {
	  color: $placeholder-color;
	  background-color: $input-bg;
	}

	li.highlighted.active-result {
	  color: $primary-text;
	  font-weight: $font-weight-strong;
	  background-color: rgba($primary, 0.65);
	}

	.chosen-container {
	  border: none;
	  background-color: $input-bg;

	  //&:nth-child(2) {
	  //border-top-left-radius: $base-border-radius !important;
	  //border-bottom-left-radius: $base-border-radius !important;
	  //}

	  .chosen-drop {
		color: $input-text;
		background-color: $input-bg;

		.group-result {
		  color: $text-muted;
		  padding: 4px 5px 1px;
		  font-size: 0.9em;
		  font-weight: 600;
		}

		.chosen-search input {
		  border: {
			width: 0 0 1px;
			style: solid;
			color: $input-border;
		  }
		  color: $input-text;
		  border-radius: $base-border-radius;
		  &:focus {
			border-color: $input-focus-color;
			@include box-shadow(0 -2px 0 0 $input-focus-color inset);
		  }
		}
	  }

	  &.chosen-container-active {
		border-color: $input-focus-color;
		.chosen-single, .chosen-choices {
		  @include box-shadow(0 -3px 0 0 $input-focus-color inset);
		}

		li.search-field input[type=text] {
		  color: $input-text;
		  background-color: $input-bg;
		}
	  }

	  &.chosen-with-drop {
		.chosen-single {
		  > div > b:after {
			content: '\e082';
		  }
		  //@include border-bottom-radius(0);
		  background: linear-gradient(bottom, $input-bg, shade($input-bg, 2%));
		  @include box-shadow(0 1px 1px 0 if($dark-theme, #111, #eee) inset);
		}
		.chosen-choices {
		  //@include border-bottom-radius(0);
		}
		.chosen-drop {
		  left: -1px;
		  right: -1px;
		  width: auto;
		  border: {
			style: solid;
			width: 1px;
			color: $input-focus-color;
		  }
		  //@include border-bottom-radius($base-border-radius);
		  @include box-shadow(0 4px 5px rgba($black, 0.35));
		}
	  }
	}

	.chosen-container-single {
	  .chosen-drop {
		li.result-selected {
		  color: $primary-text;
		  font-weight: $font-weight-strong;
		  background-color: rgba($primary, 0.85);
		}
	  }
	  .chosen-single {
		height: 26px;
		line-height: 26px;
		border: none;
		border-radius: inherit;
		box-shadow: none;
		color: $input-text;
		background: linear-gradient(top, $input-bg, shade($input-bg, 2%));

		> div > b:after {
		  content: '\e091';
		  color: $text-muted;
		  font-family: Elegant;
		}

		&.chosen-default {
		  color: $placeholder-color;
		}
		.search-choice-close {
		  top: 0;
		  right: 22px;
		  height: 26px;
		}
		.search-choice-close:after {
		  content: '\00D7';
		  font-size: 1.2rem;
		  color: $text-muted;
		  text-shadow: 0 1px 0 if($dark-theme, #000, #fff);
		}
	  }
	  &.chosen-disabled .chosen-single {
		cursor: not-allowed;
		color: rgba($input-text, 0.5);
		background: $input-disabled-bg;
	  }
	}

	.chosen-container-multi {
	  .chosen-drop {
		li.result-selected {
		  color: rgba($text-muted, 0.5);
		}
	  }
	  .chosen-choices {
		line-height: 1;
		padding: 0;
		background: $input-bg;
		@include box-shadow(0 1px 1px 0 if($dark-theme, #111, #eee) inset);
		border: none;
		border-radius: inherit;
		@include flex-row(flex-start, flex-start, true);

		li.search-choice {
		  height: 20px;
		  position: relative;
		  margin: 2px 0 5px 5px;
		  padding: 4px 16px 4px 4px;
		  float: none;
		  line-height: 0.85;
		  @include flex(0 0 auto);
		  border: 1px solid $input-border;
		  border-radius: $base-border-radius;
		  background: linear-gradient(top, shade($input-bg, 5%), shade($input-bg, 15%));
		  .search-choice-close {
			top: 2px;
			right: 2px;
			width: 10px;
			height: 10px;
		  }
		  .search-choice-close:after {
			content: '\00D7';
			font-size: 1.2rem;
			color: $text-muted;
			text-shadow: 0 1px 0 if($dark-theme, #000, #fff);
		  }
		}
		li.search-field {
		  input[type=text] {
			height: 20px;
			line-height: 1;
			margin: 2px 0 2px 5px;
			min-width: 60px;
			color: $input-text;
			font-family: $input-font-family;

			&.default:not(:focus) {
			  color: $placeholder-color;
			}
		  }
		  float: none;
		  @include flex(0 0 auto);
		}
	  }
	  &.chosen-disabled .chosen-choices {
		cursor: not-allowed;
		background-color: $input-disabled-bg;
	  }
	}
  }

  @if ($input-hilight-valid) {
	&.ui-valid {
	  .chosen-container {
		&.chosen-with-drop .chosen-drop {
		  border-color: $input-border rgba($input-valid-color, 0.85) rgba($input-valid-color, 0.85);
		}
		border-color: $input-valid-color;
		&.chosen-container-active {
		  border-color: $input-valid-color;
		  @include box-shadow(0 3px 0 0 $input-valid-color);
		}
	  }
	}
  }
  &.ui-invalid {
	.chosen-container {
	  &.chosen-with-drop .chosen-drop {
		border-color: $input-border rgba($input-invalid-color, 0.85) rgba($input-invalid-color, 0.85);
	  }
	  border-color: $input-invalid-color;
	  &.chosen-container-active {
		border-color: $input-invalid-color;
		@include box-shadow(0 3px 0 0 $input-invalid-color);
	  }
	}
  }
}