/**
 *	UI Framework Containers
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

.ui-section {
  @include flex(1 1 0%);
  overflow: hidden;
  position: relative;

  &.ui-flex-row {
	@include flex-row($align: stretch, $wrap: false);
  }

  &.ui-flex-column {
	@include flex-column($align: stretch, $wrap: false);
  }
}

.ui-content {
  @include flex(1 1 auto);
  position: relative;

  &:not(.ui-scroll) {
	@include flex-column($align: stretch, $justify: stretch, $wrap: false);
  }
  &.ui-scroll {
	overflow: auto;
  }
  &.ui-middle {
	@include align-items(center);
  }
  &.ui-top {
	@include align-items(flex-start);
  }
  &.ui-bottom {
	@include align-items(flex-end);
  }
  &.ui-center {
	@include justify-content(center);
  }
  &.ui-start {
	@include justify-content(flex-start);
  }
  &.ui-end {
	@include justify-content(flex-end);
  }

  > .ui-scroll {
	@include flex(1 1 auto);
  }
}

.ui-sidebar {
  @include flex(0 0 250px);
  overflow: auto;
  position: relative;
  border: {
	width: 0 1px;
	style: solid;
	color: $base-border-color;
  }

  &.first-child {
	border-left: none;
  }
  &.last-child {
	border-right: none;
  }
}

.ui-header {
  @include flex-row($wrap: false);
  @include flex(0 0 auto);
  min-height: 2em;
  @include border-top-radius($base-border-radius);
  border-bottom: 1px solid rgba($base-border-color, 0.5);
  background: linear-gradient(top, $base-bg, darken($base-bg, 2%));

  h5 {
	@include flex(1 1 auto);
	margin: 0;
	font-weight: $font-weight-strong;
	padding: $base-padding;
	font-variant: small-caps;
  }

  button {
	margin: 0 2px;
	font-size: 1.5em;
	line-height: 1;
	opacity: 0.5;
	padding: 3px;
	color: $black-olive;
	text-shadow: 1px 0 0 $white;
	&:hover {
	  opacity: 0.75;
	}
  }

  &.ui-primary {
	color: $primary-text;
	background: linear-gradient(top, $primary, darken($primary, 2%));
	button {
	  color: $primary-text;
	  text-shadow: -1px 0 0 darken($primary, 25%);
	}
  }

  &.ui-secondary {
	color: $secondary-text;
	background: linear-gradient(top, $secondary, darken($secondary, 2%));
	button {
	  //color: $secondary-text;
	  //text-shadow: 1px 0 0 darken($secondary, 25%);
	}
  }
}

.ui-statsbar {
  @include flex-row($align: stretch, $wrap: false);
  @include flex(0 0 auto);
  background-color: rgba($primary, 0.20);
  border-bottom: 1px solid rgba($base-border-color, 0.5);
  .ui-col-fill {
	@include flex(1 1 auto);
  }
  .ui-divider {
	@include flex(0 0 auto);
	border-left: 1px solid darken($base-border-color, 15%);
	border-right: 1px solid lighten($base-border-color, 15%);
  }

  h1 {
	text-align: center;
	color: darken($primary, 10%);
	font-weight: $font-weight-strong;
  }
  h5 {
	color: $text-muted;
	text-align: center;
	font-variant: small-caps;
	font-weight: $font-weight-strong;
  }
}

.ui-toolbar {
  @include flex-row($align: center, $justify: flex-end, $wrap: false);
  @include flex(0 0 auto);
  background-color: shade($base-bg, 2%);
  border-bottom: 1px solid rgba($base-border-color, 0.5);
  .ui-button {
	margin: 3px 5px;
  }
  &:last-child {
	border-bottom: none;
	border-top: 1px solid rgba($base-border-color, 0.5);
	@include border-bottom-radius($base-border-radius);
  }
  .ui-col-fill {
	@include flex(1 1 auto);
  }
  .ui-divider {
	@include flex(0 0 auto);
	height: 2rem;
	border-left: 1px solid darken($base-border-color, 15%);
	border-right: 1px solid lighten($base-border-color, 15%);
  }
}

.ui-panel {
  margin: 5px;
  min-height: 100px;
  max-height: 600px;
  color: $base-text;
  position: relative;
  border-radius: $base-border-radius;
  border: 1px solid $base-border-color;
  background-color: $base-bg;
  @include flex-column(stretch, center, false);
  @include transition(all 0.5s);
  @include flex(1 1 auto);

  &.ui-collapse {
	min-height: 0;
	max-height: 2em;
	overflow: hidden;

	button.ui-collapse span:before {
	  content: '\e07d';
	}
  }
}

.ui-login {
  margin-top: -3em;
  border-radius: $base-border-radius;
  border: 1px solid $base-border-color;
  @include box-shadow(0 0 10px 0 $base-shadow-color);
  background-color: $base-bg;
  padding: 0.5rem;

  h4 {
	color: $primary;
	text-align: center;
	padding-top: 1rem;
	font-size: 5em;
	text-shadow: 1px 1px 1px #fff, 1px 1px 2px #333, -1px -1px 1px #333;
  }
}