/**
 *	UI Form
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

.ui-form {
  @include flex-row($align: stretch, $justify: flex-start, $wrap: true);
  border-radius: $base-border-radius;
  > form {
	@include flex(1 1 auto);
  }
  > .ui-row > .ui-column {
	min-width: $grid-sm-max;
	&.ui-col-auto {
	  @include flex(1 1 420px);
	  max-width: 100%;
	}
  }

  .ui-input-group > .ui-form-control {
  }
}

.ui-input-group {
  @include flex(1 1 auto);
  @include flex-row($align: flex-start, $wrap: true);
  margin-bottom: 0.5rem;
  padding: 0 0.3rem;

  &.ui-flex-center {
	@include justify-content(center);
  }
  &.ui-flex-start {
	@include justify-content(flex-start);
  }
  &.ui-flex-end {
	@include justify-content(flex-end);
  }

  .ui-help-block {
	@include flex(0 0 100%);
	font-size: 0.85rem;
	color: $danger;
	display: inline-block;
	padding: 0 0.2rem 0 120px;
  }

  &.ui-label-top {
	width: 290px;
	.ui-label {
	  text-align: start;
	}

	.ui-help-block {
	  padding: 0 0.2rem;
	}
  }

  .ui-label {
	@include flex(0 0 120px);
	width: 120px;
	color: $input-label-text;
	padding: 0.4rem 0 0.2rem 0;
	text-align: end;
	font-weight: 600;
	position: relative;
	@include padding(start, 0);
	@include padding(end, 0.95rem);

	&:after {
	  content: ' ';
	  width: 1em;
	  color: $primary;
	  font: {
		size: 0.65rem;
		weight: 300;
	  }
	  top: 4px;
	  right: 4px;
	  position: absolute;
	  display: inline-block;
	}
	&.ui-required:after {
	  content: '\273B';
	}
	span {
	  display: block;
	  font: {
		weight: 500;
		size: 0.8em;
	  }
	  color: $text-muted;
	}
  }

  .ui-form-control {
	@include flex-row($align: stretch, $wrap: false);
	@include flex(1 0 280px);
	padding: 0;
	position: relative;
	border: 1px solid $input-border;
	border-radius: $base-border-radius;

	&.ui-focus {
	  border-color: $input-focus-color;
	}

	.ui-input {
	  border: none;
	}

	.ui-addon {
	  @include flex(0 0 auto);
	  padding: 4px;
	  line-height: 0;
	  min-height: 26px;
	  min-width: 26px;
	  color: $input-addon-text;
	  background-color: $input-addon-bg;
	  font: {
		family: $input-font-family;
		weight: 500;
	  }
	  z-index: 1;
	  span {
		min-height: 16px;
		min-width: 16px;
		font-size: 1rem;
		line-height: 1.3;
		&.ui-flag {
		  background-size: 18px 18px;
		}
	  }

	  .ui-icon {
		font-size: 1.3em;
		line-height: 0.9;
	  }
	}

	.ui-checkbox {
	  @include flex(0 0 26px);
	  padding: 0.25rem 0.5rem;
	  height: auto;
	  .ui-option-input:checked ~ .ui-check-mark:after {
		content: '\e005';
	  }
	}

	.ui-button {
	  @include flex(0 0 auto);
	  padding: 0.2rem 0.5rem;
	  border-width: 0;
	  &:not(:active):not(:focus) {
		box-shadow: none;
	  }
	  z-index: 1;
	}

	> :not(:last-child) {
	  @include border(end, 1px solid $input-border);
	}

	.ui-markdown-editor {
	  border-right: none !important;
	  .ui-button-group {
		padding: 0;
		background-color: $toolbar-bg;
		border-bottom: 1px solid $input-border;
		@include flex-wrap(wrap);
		> .ui-button {
		  margin: 0;
		  border: {
			radius: 0;
		  }
		  @include borderEx(end, width, 1px);
		}
		.ui-divider {
		  @include flex(0 0 8px);

		  ~ .ui-button {
			@include borderEx(start, width, 1px);
		  }
		}
	  }
	  .ui-input {
		border-bottom: 1px solid $input-border;
	  }
	}

	.ui-markdown-preview, .ui-markdown-help {
	  @include position(absolute, 0);
	  overflow: auto;
	  padding: 0.5rem 1rem;
	  z-index: 5;

	  background-color: $input-bg;
	  color: $input-text;
	  border: none;
	  @include box-shadow(0 0 3px 0 if($dark-theme, #333, #ccc) inset);

	  ~ .ui-close {
		@include position(absolute, 0 0 auto auto);
		opacity: .3;
		z-index: 9;
		font-size: 1.5rem;
		color: $base-text;

		&:hover {
		  opacity: .6;
		}
	  }
	  &[dir="rtl"]:not(.ui-hide) ~ .ui-close {
		@include position(absolute, 0 auto auto 0);
	  }
	}
  }

  &.ui-invalid {
	.ui-label {
	  color: $danger;
	}

	.ui-form-control {
	  border-color: $input-invalid-color;
	}

	.ui-input:focus {
	  @include box-shadow(0 -3px 0 0 $input-invalid-color inset, 0 1px 1px 0 if($dark-theme, #111, #eee) inset);
	}

	.ui-addon {
	  color: $coconut;
	  background-color: $input-invalid-color;
	}
  }

  @if ($input-hilight-valid) {
	&.ui-valid {
	  .ui-label {
		color: $input-valid-color;
	  }

	  .ui-form-control {
		border-color: $input-valid-color;
	  }

	  .ui-input:focus {
		@include box-shadow(0 -3px 0 0 $input-valid-color inset, 0 1px 1px 0 if($dark-theme, #111, #eee) inset);
	  }

	  .ui-addon {
		color: $coconut;
		background-color: $input-valid-color;
	  }
	}
  }
}
