/**
 *	UI Input
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

.ui-input {
  @include flex(1 1 0%);
  margin: 0;
  z-index: 2;
  outline: none;
  color: $input-text;
  background: $input-bg inline_image(if($dark-theme, "clear-dark.png", "clear.png")) no-repeat right -10px center;
  background-size: 8px 8px;
  font: {
	size: 1rem;
	family: $input-font-family;
  }
  padding: 0.2rem 0.5rem 5px;
  border: 1px solid $input-border;
  @include box-shadow(0 1px 1px 0 if($dark-theme, #111, #eee) inset);

  &.ui-clear {
	padding-right: 22px;
	transition: background 0.4s;

	&.x {
	  background-position: right 5px center;
	}
	&.onX {
	  cursor: pointer;
	}
  }

  &[readonly] {
	cursor: default;
	background-color: $input-readonly-bg;
  }
  &[disabled] {
	cursor: not-allowed;
	background-color: $input-disabled-bg;
  }

  &:focus {
	border-color: $primary;
	@include box-shadow(0 -3px 0 0 $input-focus-color inset, 0 1px 1px 0 #eee inset);
  }
}

.ui-list {
  .ui-form-control {
	position: relative;
	.ui-list-input {
	  opacity: 0;
	  position: absolute;
	  width: 4px;
	  height: 4px;
	}
	.ui-list-input:focus ~ .ui-list-container {
	  border-color: rgba($input-focus-color, 0.85);
	  @include box-shadow(0 -3px 0 0 $input-focus-color inset, 0 1px 1px 0 #eee inset);
	}
	.ui-list-container {
	  $item-height: 26px;
	  list-style: none;
	  overflow: auto;
	  font-size: 1rem;
	  padding: 0.35rem 0.25rem;
	  height: ($item-height*5)+7;

	  &:hover {
		border-color: rgba($input-focus-color, 0.85);
		@include box-shadow(0 0 4px 0 $input-focus-color, 0 1px 1px 0 #eee inset);
	  }

	  &:nth-child(2) {
		border-top-left-radius: $base-border-radius !important;
		border-bottom-left-radius: $base-border-radius !important;
	  }

	  > li.ui-list-group {
		color: $text-muted;
		padding: 4px 5px 1px;
		font-size: 0.9em;
		font-weight: 600;
		&:after {
		  content: attr(label);
		}
	  }
	  > li.ui-list-option {
		height: $item-height;
		padding: 0.35rem 0.5rem;
		display: list-item;
		cursor: pointer;
		&:hover {
		  color: $primary-text;
		  background-color: rgba($primary, 0.5);
		}
		&.ui-active {
		  color: $primary-text;
		  background-color: rgba($primary, 0.75);
		}
	  }
	  li.ui-icon {
		padding-left: 26px !important;
		background-position: 2px center;

		&.ui-flag {
		  background-size: 18px 18px;
		}
	  }
	}
  }

  @if ($input-hilight-valid) {
	&.ui-valid {
	  .ui-list-input:focus ~ .ui-list-container {
		border-color: $input-valid-color;
		@include box-shadow(0 -3px 0 0 $input-valid-color inset, 0 1px 1px 0 #eee inset);
	  }
	  .ui-list-container {
		&:hover {
		  border-color: $input-valid-color;
		  @include box-shadow(0 0 4px 0 $input-valid-color, 0 1px 1px 0 #eee inset);
		}
	  }
	}
  }

  &.ui-invalid {
	.ui-list-input:focus ~ .ui-list-container {
	  border-color: $input-invalid-color;
	  @include box-shadow(0 -3px 0 0 $input-invalid-color inset, 0 1px 1px 0 #eee inset);
	}
	.ui-list-container {
	  &:hover {
		border-color: $input-invalid-color;
		@include box-shadow(0 0 4px 0 $input-invalid-color, 0 1px 1px 0 #eee inset);
	  }
	}
  }
}

.ui-lang-select {
  .ui-button {
	padding: 0.25rem 0.5rem;
	line-height: 1.4;

	box-shadow: none !important;
	background: white !important;
	border: 1px solid $input-border !important;

	&.ui-dropdown {
	  box-shadow: 0 -3px 0 0 $primary inset !important;
	}

	span.ui-right {
	  float: right;
	  margin-top: 4px;
	}
  }

  .ui-form-control {
	border: none;

	.ui-addon {
	  border: {
		color: $input-border !important;
		style: solid !important;
		width: 1px 0 1px 1px !important;
	  }
	}
  }

  .ui-menu-link.ui-col-auto {
	opacity: 0.5;
	&:hover {
	  opacity: 0.85;
	  background: none;
	}
  }
}