/**
 *	UI Markdown Stylings
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

.ui-markdown {
  line-height: 1.3;

  em {
	font-style: italic;
  }

  strong, b {
	font-weight: bold;
  }

  blockquote {
	padding: 8px 15px;
	border-left: 4px solid $primary;
	background: darken($base-bg, 5%);
  }

  a {
	font-weight: bold;
	text-decoration: underline;
  }

  ul {
	list-style: {
	  type: disc;
	  position: inside;
	}
  }

  ol {
	list-style: {
	  type: decimal;
	  position: inside;
	}
  }

  td, th {
	padding: 4px 10px;
  }

  th {
	font-weight: bold;
	border-bottom: 1px solid #e5e5e5;
  }

  tr:nth-of-type(even) td {
	background: #f0f0f0;
  }

  hr {
	margin: 5px 0;
	background: none;
	border: {
	  width: 1px 0 1px;
	  style: solid;
	  color: $smoke none $white;
	}
  }

  a > img {
	box-shadow: 0 0 2px 0 rgba($primary, 0.7);
	border: 1px solid $primary;
	border-radius: 4px;

	&:hover {
	  box-shadow: 0 0 3px 1px rgba($primary, 0.8);
	}
  }
}