/**
 *	NotifyJS Stylings
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 */

@mixin notify-theme($theme, $bg, $text, $border, $icon) {
  &.notifyjs-ui-#{$theme} {
	&:before {
	  content: $icon;
	}
	color: $text !important;
	border-color: $border !important;
	text-shadow: 0 1px 0 rgba($white, 0.5);
	background: linear-gradient($bg, darken($bg, 2%));
  }
}

.notifyjs-container {
  max-width: 600px;

  .notifyjs-ui-base {
	font-weight: $font-weight-strong;
	font-size: 1.1em;
	white-space: nowrap;
	padding: 1rem 1.5rem 1rem 3rem;
	color: $coconut !important;
	border: 1px solid $outer-space !important;
	text-shadow: 0 1px 0 rgba($black, 0.5);
	background: linear-gradient(tint($licorice, 25%), $licorice);
	@include box-shadow(0 0 5px 0 rgba($black, 0.5));
	border-radius: $base-border-radius;

	strong {
	  font-weight: 700;
	}

	&:before {
	  content: '\e0c6';
	  font-family: Elegant;
	  font-size: 1.2em;
	  position: absolute;
	  left: 1rem;
	  top: 1rem;
	}
	&:after {
	  content: '×';
	  opacity: 0.3;
	  font-size: 1.3rem;
	  color: #444;
	  text-shadow: 0 1px #fff;
	  position: absolute;
	  top: 1px;
	  right: 6px;
	}
	&:hover:after {
	  opacity: 0.5;
	}

	@include notify-theme(primary, $notify-primary-bg, $notify-primary-text, $notify-primary-border, '\e077');
	@include notify-theme(info, $notify-info-bg, $notify-info-text, $notify-info-border, '\e072');
	@include notify-theme(danger, $notify-danger-bg, $notify-danger-text, $notify-danger-border, '\e03b');
	@include notify-theme(success, $notify-success-bg, $notify-success-text, $notify-success-border, '\e02f');
	@include notify-theme(warning, $notify-warning-bg, $notify-warning-text, $notify-warning-border, '\e059');
  }
}

.notifyjs-wrapper {
  z-index: $zindex-notify !important;
}

.notifyjs-corner {
  top: 60px !important;
  z-index: $zindex-notify;

  @include flex-column(flex-end, flex-start, false);

  .notifyjs-wrapper {
	@include flex(1 1 auto);
	max-width: 300px;

	.notifyjs-ui-base {
	  white-space: normal;
	}
  }
}

.ui-notify-confirm {
  z-index: $zindex-splash;
  @include position(absolute, 0);
  background: rgba($white, 0.25);
  @include flex-row($align: center, $justify: center);

  .ui-notify {
	font-weight: $font-weight-strong;
	font-size: 1.1em;
	white-space: nowrap;
	border-radius: $base-border-radius;
	border: 1px solid $outer-space !important;
	text-shadow: 0 1px 0 rgba($base-bg, 0.5);
	background: linear-gradient(tint($base-bg, 25%), $base-bg);
	@include box-shadow(0 0 0 1px $primary, 0 0 25px 5px rgba($black, 0.75));

	.title {
	  min-width: 150px;
	  font-size: 1.1em;
	  color: $base-text;
	  padding: 1.5rem 2.5rem 1.5rem 4rem;
	  position: relative;
	  &:before {
		content: '\e0c6';
		font-family: Elegant;
		font-size: 1.2em;
		position: absolute;
		left: 1rem;
		top: 1rem;
	  }
	}

	.buttons {
	  overflow: hidden;
	  border-top: 1px solid rgba($primary, .5);
	  @include flex-row($wrap: false);
	  .ui-button {
		@include flex(1 1 auto);
		padding: 0.75rem 1.25rem;
		min-width: 80px;
		font-size: 1.1em;
		border: none;
		font-weight: normal;

		color: $base-text;
		background: linear-gradient(rgba($primary, 0.2), rgba($primary, 0.3));

		&:hover {
		  background: linear-gradient(rgba($primary, 0.3), rgba($primary, 0.5));
		}
		&:active {
		  background: linear-gradient(rgba($primary, 0.5), rgba($primary, 0.3));
		}

		&.yes {
		  font-weight: 600;
		}
	  }
	}
  }
}