/**
 *	UI Pager
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

.ui-pager {
  @include flex-row($align: stretch, $wrap: false);
  margin: 0.2rem 0.5rem;

  > .ui-button, > .ui-pager-pages {
	&:not(:first-child) {
	  border-left: none;
	}
  }

  .ui-button, .ui-input-group {
	margin: 0 !important;
	padding: 0 !important;
  }
  .ui-pager-pages {
	@include flex-row($justify: stretch, $wrap: false);
	border: 1px solid $base-border-color;
	> div {
	  padding: 0 5px;
	  font-family: $input-font-family;
	}
  }
  .ui-form-control {
	border-color: transparent;
	> input {
	  width: 50px;
	  text-align: center;
	}
  }

  //> button, > div {
  //@include flex(0 0 auto);
  //&:not(:last-child) {
  //  border-right: 1px solid $base-border-color;
  //}
  //}
  //button {
  //font-size: 1.2rem;
  //line-height: 1.1rem;
  //
  //&:hover {
  //  background: shade($base-bg, 5%);
  //}
  //&:active {
  //  background: shade($base-bg, 12%);
  //}
  //&:disabled {
  //  opacity: 0.45;
  //  &, > span {
  //	cursor: not-allowed;
  //  }
  //}
  //}
  //div {
  //padding-right: 10px;
  //> input, > span {
  //  font-size: 1.1rem;
  //  line-height: 1rem;
  //}
  //
  //input {
  //  border: none;
  //  text-align: center;
  //  width: 30px;
  //}
  //}
}