/**
 *	UI Resets
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/
@import "compass/reset";

h1, h2, h3, h4, h5, h6, p, ul, li, ol, dt, dd, dl {
  margin: 0;
  padding: 0.3rem 0.7rem;
  position: initial;
}

div, template {
  position: initial;
  display: block;
}

p {
  line-height: 1.5;
}

a, button {
  margin: 0;
  color: $link-text;
  font-weight: $font-weight-strong;
  text-decoration: none;
  &, * {
	cursor: pointer;
	outline: none !important;
  }

  &[target='_blank']:after {
	font-size: 7px;
	content: '\e0c1';
	opacity: 0.75;
	font-family: BigMugLine;
	vertical-align: super;
	margin-left: 2px;
  }
}

button {
  border: none;
  background: none;
}

hr {
  margin: 0.2rem 0;
  height: 0.15rem;
  background: if($dark-theme, $base-border-color, $white);
  color: transparent;
  border: {
	style: solid;
	radius: 0.5rem;
	width: 0.06rem 0 0;
	color: if($dark-theme, $black, $base-border-color);
  }
}

textarea {
  resize: vertical;
}

.ui-hide {
  display: none !important;
}

.ui-hidden {
  visibility: hidden !important;
}

.ui-inline {
  display: inline !important;
}

.ui-scroll {
  position: relative;
  overflow: auto !important;
}

.ui-align-start {
  text-align: start;
}

.ui-align-center {
  text-align: center;
}

.ui-align-end {
  text-align: end;
}

// PADDING
.pad-0 {
  padding: 0 !important;
}

.pad-all {
  padding: 0.5rem;
}

.pad-h {
  padding: {
	left: 0.5rem;
	right: 0.5rem;
  }
}

.pad-v {
  padding: {
	top: 0.5rem;
	bottom: 0.5rem;
  }
}

// MARGIN
.margin-0 {
  margin: 0 !important;
}

.margin-all {
  margin: 0.5rem;
}

.margin-h {
  margin: {
	left: 0.5rem;
	right: 0.5rem;
  }
}

.margin-v {
  margin: {
	top: 0.5rem;
	bottom: 0.5rem;
  }
}

// BORDERS
.border-all {
  border: 1px solid $base-border-color;
}

.border-h {
  border: {
	style: solid;
	width: 1px 0;
	color: $base-border-color;
  }
}

.border-v {
  border: {
	style: solid;
	width: 0 1px;
	color: $base-border-color;
  }
}

.border-t {
  border-top: 1px solid $base-border-color;
}

.border-b {
  border-bottom: 1px solid $base-border-color;
}

.border-l {
  border-left: 1px solid $base-border-color;
}

.border-r {
  border-right: 1px solid $base-border-color;
}

.push-right {
  float: right;
}