/**
 *	UI Tabs
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

.ui-tab-panel {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  @include flex-column($wrap: false);

  .ui-tab-header {
	overflow: visible;
	min-height: 2.5rem;
	border-bottom: 1px solid $primary;
	@include flex(0 0 auto);
	@include flex-row($align: flex-end, $justify: flex-start);

	.ui-tab {
	  @include flex(0 0 auto);
	  @include text-truncate();
	  @include border-top-radius($base-border-radius);
	  text-align: center;
	  display: inline-block;
	  max-width: 150px;
	  padding: 0.3rem 0.75rem;
	  border: 1px solid rgba($base-border-color, 0.5);
	  border-top-width: 5px;
	  border-bottom: none;
	  margin-left: 8px;
	  color: $base-text;
	  font-weight: $font-weight-normal;
	  background: linear-gradient(top, $base-bg, darken($base-bg, 5%));

	  &:hover {
		padding: 0.4rem 0.75rem;
		border-top-color: rgba($primary, 0.65);
	  }
	  &.ui-active {
		padding: 0.5rem 0.75rem;
		margin-bottom: -1px;
		border-color: $primary;
		border-top-color: rgba($primary, 0.95);
		font-weight: $font-weight-strong;
		background: linear-gradient(top, darken($base-bg, 5%), $base-bg);
	  }
	}
  }

  .ui-tab-body {
	position: relative;
	@include flex(1 1 auto);
	.ui-tab-content {
	  position: absolute;
	  width: 100%;
	  top: 0;
	  bottom: 0;
	  overflow: auto;

	  &.no-scroll {
		overflow: hidden;
	  }

	  &:not(.ui-active) {
		display: none;
	  }
	}
  }
}
