/**
 *	UI Framework - Dark Theme
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/
@import "utility/colors";

$primary: #5D968E !default;
$secondary: #BEDCCF !default;

$primary-text: #FFFFFF !default;
$secondary-text: #48544E !default;

$info: #019DC9 !default;
$danger: #EE5359 !default;
$success: #38BD85 !default;
$warning: #FEB500 !default;

// BASE
$base-bg: #150E06 !default;
$base-text: $coconut !default;
$base-bg-image: 'back/bg-dark.png' !default;

$base-border-color: $outer-space !default;
$base-shadow-color: $black-olive !default;

$text-link: $primary !default;
$text-muted: $gray !default;

$hr-highlight: $dark-slate-gray !default;
$hr-shadow: $licorice !default;

// APP
$app-header-bg: #28616E !default;
$app-header-text: #FFFFFF !default;
$app-footer-bg: $outer-space !default;
$app-footer-text: $cadet-gray !default;

$app-menu-bg: $licorice !default;
$app-menu-text: $primary !default;
$app-menu-bg-image: 'back/bg-menu.png' !default;
$app-menu-shim: $licorice !default;

$app-menu-active-bg: $primary !default;
$app-menu-active-text: $primary-text !default;
$app-menu-active-border: $primary-text !default;

// PAGE
$page-title-bg: #B1DBD5 !default;
$page-title-text: #28616E !default;

$sidebar-bg: rgba($charcoal, .25) !default;
$sidebar-text: $base-text !default;

$toolbar-bg: rgba($charcoal, .25) !default;
$toolbar-text: $base-text !default;

$statsbar-bg: rgba($secondary, .35) !default;
$statsbar-text: #f0f0f0 !default;

// MENU
$menu-hover-bg: rgba($primary, 0.6) !default;
$menu-hover-text: $primary-text !default;
$menu-click-bg: rgba($primary, 0.3) !default;
$menu-click-text: $primary-text !default;
$menu-active-bg: rgba($primary, 0.1) !default;
$menu-active-text: $primary !default;
$menu-active-border: $primary !default;

// BUTTONS
$button-default-bg: $outer-space !default;
$button-primary-bg: $primary !default;
$button-secondary-bg: $secondary !default;
$button-info-bg: $info !default;
$button-danger-bg: $danger !default;
$button-success-bg: $success !default;
$button-warning-bg: $warning !default;

$button-primary-text: $primary-text !default;
$button-secondary-text: $secondary-text !default;
$button-info-text: $coconut !default;
$button-danger-text: $coconut !default;
$button-success-text: $coconut !default;
$button-warning-text: $coconut !default;

$button-primary-border: darken($primary, 20%) !default;
$button-secondary-border: darken($secondary, 20%) !default;
$button-info-border: darken($info, 20%) !default;
$button-danger-border: darken($danger, 20%) !default;
$button-success-border: darken($success, 20%) !default;
$button-warning-border: darken($warning, 20%) !default;

// INPUT
$placeholder-color: $slate-gray !default;
$input-bg: $black-olive !default;
$input-text: $base-text !default;
$input-label-text: $cadet-gray !default;
$input-border: $base-border-color !default;
$input-focus-color: $primary !default;
$input-valid-color: $pine !default;
$input-invalid-color: $madder-lake !default;
$input-addon-text: $primary !default;
$input-addon-bg: $arsenic !default;
$input-readonly-bg: shade($input-bg, 2%) !default;
$input-disabled-bg: darken($input-bg, 10%) !default;

$input-option-color: $ash-gray !default;
$input-option-color-focus: $input-focus-color !default;
$input-option-color-disabled: $charcoal-gray !default;

// TYPOGRAPHY
$bg-primary: #68A59D;
$bg-info: #51AECE;
$bg-danger: #F37063;
$bg-success: #669F81;
$bg-warning: #FFBB71;

$pre-code-bg: #36454F;
$pre-code-text: #B2BEB5;
$pre-code-border: #3B444B;

@import "framework!";