@font-face {
	font-family: "Essential";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="fi-essential-"]:before, [class*=" fi-essential-"]:before,
[class^="fi-essential-"]:after, [class*=" fi-essential-"]:after {
	font-family: Essential;
	font-style: normal;
}.fi-essential-add84:before {
	content: "\e000";
}
.fi-essential-airplane54:before {
	content: "\e001";
}
.fi-essential-align17:before {
	content: "\e002";
}
.fi-essential-align18:before {
	content: "\e003";
}
.fi-essential-amazon:before {
	content: "\e004";
}
.fi-essential-ambulande:before {
	content: "\e005";
}
.fi-essential-anchor24:before {
	content: "\e006";
}
.fi-essential-android7:before {
	content: "\e007";
}
.fi-essential-apple44:before {
	content: "\e008";
}
.fi-essential-archive17:before {
	content: "\e009";
}
.fi-essential-arrow554:before {
	content: "\e00a";
}
.fi-essential-arrow555:before {
	content: "\e00b";
}
.fi-essential-arrow556:before {
	content: "\e00c";
}
.fi-essential-arrow557:before {
	content: "\e00d";
}
.fi-essential-arrow558:before {
	content: "\e00e";
}
.fi-essential-arrow559:before {
	content: "\e00f";
}
.fi-essential-arrow560:before {
	content: "\e010";
}
.fi-essential-arrow561:before {
	content: "\e011";
}
.fi-essential-arrow562:before {
	content: "\e012";
}
.fi-essential-arrow568:before {
	content: "\e013";
}
.fi-essential-arrow569:before {
	content: "\e014";
}
.fi-essential-arrow573:before {
	content: "\e015";
}
.fi-essential-arrowhead8:before {
	content: "\e016";
}
.fi-essential-arrows73:before {
	content: "\e017";
}
.fi-essential-asterisk4:before {
	content: "\e018";
}
.fi-essential-backward2:before {
	content: "\e019";
}
.fi-essential-bag27:before {
	content: "\e01a";
}
.fi-essential-barcode6:before {
	content: "\e01b";
}
.fi-essential-bars25:before {
	content: "\e01c";
}
.fi-essential-beer14:before {
	content: "\e01d";
}
.fi-essential-bell21:before {
	content: "\e01e";
}
.fi-essential-bell22:before {
	content: "\e01f";
}
.fi-essential-bing2:before {
	content: "\e020";
}
.fi-essential-bitcoin23:before {
	content: "\e021";
}
.fi-essential-bitcoin42:before {
	content: "\e022";
}
.fi-essential-bit:before {
	content: "\e023";
}
.fi-essential-black216:before {
	content: "\e024";
}
.fi-essential-black217:before {
	content: "\e025";
}
.fi-essential-blackberry4:before {
	content: "\e026";
}
.fi-essential-blind2:before {
	content: "\e027";
}
.fi-essential-bold15:before {
	content: "\e028";
}
.fi-essential-bookmark15:before {
	content: "\e029";
}
.fi-essential-bookmark16:before {
	content: "\e02a";
}
.fi-essential-branch3:before {
	content: "\e02b";
}
.fi-essential-broken23:before {
	content: "\e02c";
}
.fi-essential-bug11:before {
	content: "\e02d";
}
.fi-essential-building26:before {
	content: "\e02e";
}
.fi-essential-bullhorn2:before {
	content: "\e02f";
}
.fi-essential-calendar73:before {
	content: "\e030";
}
.fi-essential-calendar75:before {
	content: "\e031";
}
.fi-essential-certificate12:before {
	content: "\e032";
}
.fi-essential-check36:before {
	content: "\e033";
}
.fi-essential-check37:before {
	content: "\e034";
}
.fi-essential-check38:before {
	content: "\e035";
}
.fi-essential-check39:before {
	content: "\e036";
}
.fi-essential-check41:before {
	content: "\e037";
}
.fi-essential-check42:before {
	content: "\e038";
}
.fi-essential-circle56:before {
	content: "\e039";
}
.fi-essential-circle57:before {
	content: "\e03a";
}
.fi-essential-circle59:before {
	content: "\e03b";
}
.fi-essential-circle62:before {
	content: "\e03c";
}
.fi-essential-circle63:before {
	content: "\e03d";
}
.fi-essential-circle64:before {
	content: "\e03e";
}
.fi-essential-clock52:before {
	content: "\e03f";
}
.fi-essential-close21:before {
	content: "\e040";
}
.fi-essential-closed45:before {
	content: "\e041";
}
.fi-essential-cloud213:before {
	content: "\e042";
}
.fi-essential-cloud214:before {
	content: "\e043";
}
.fi-essential-code19:before {
	content: "\e044";
}
.fi-essential-code22:before {
	content: "\e045";
}
.fi-essential-coffee32:before {
	content: "\e046";
}
.fi-essential-cogwheel15:before {
	content: "\e047";
}
.fi-essential-cogwheels5:before {
	content: "\e048";
}
.fi-essential-comment34:before {
	content: "\e049";
}
.fi-essential-compass52:before {
	content: "\e04a";
}
.fi-essential-compress:before {
	content: "\e04b";
}
.fi-essential-contrast13:before {
	content: "\e04c";
}
.fi-essential-copy13:before {
	content: "\e04d";
}
.fi-essential-credit57:before {
	content: "\e04e";
}
.fi-essential-crop5:before {
	content: "\e04f";
}
.fi-essential-cross55:before {
	content: "\e050";
}
.fi-essential-crosshair9:before {
	content: "\e051";
}
.fi-essential-css9:before {
	content: "\e052";
}
.fi-essential-dashboard4:before {
	content: "\e053";
}
.fi-essential-directional10:before {
	content: "\e054";
}
.fi-essential-dollar104:before {
	content: "\e055";
}
.fi-essential-dot1:before {
	content: "\e056";
}
.fi-essential-double52:before {
	content: "\e057";
}
.fi-essential-double53:before {
	content: "\e058";
}
.fi-essential-double54:before {
	content: "\e059";
}
.fi-essential-double56:before {
	content: "\e05a";
}
.fi-essential-down21:before {
	content: "\e05b";
}
.fi-essential-down33:before {
	content: "\e05c";
}
.fi-essential-download70:before {
	content: "\e05d";
}
.fi-essential-dribbble9:before {
	content: "\e05e";
}
.fi-essential-dropbox16:before {
	content: "\e05f";
}
.fi-essential-earth31:before {
	content: "\e060";
}
.fi-essential-ebay2:before {
	content: "\e061";
}
.fi-essential-ellipsis:before {
	content: "\e062";
}
.fi-essential-emoticon14:before {
	content: "\e063";
}
.fi-essential-envelope29:before {
	content: "\e064";
}
.fi-essential-eraser6:before {
	content: "\e065";
}
.fi-essential-eraser7:before {
	content: "\e066";
}
.fi-essential-euro33:before {
	content: "\e067";
}
.fi-essential-exclamation11:before {
	content: "\e068";
}
.fi-essential-exclamation14:before {
	content: "\e069";
}
.fi-essential-expand19:before {
	content: "\e06a";
}
.fi-essential-external3:before {
	content: "\e06b";
}
.fi-essential-external4:before {
	content: "\e06c";
}
.fi-essential-external5:before {
	content: "\e06d";
}
.fi-essential-eye79:before {
	content: "\e06e";
}
.fi-essential-facebook33:before {
	content: "\e06f";
}
.fi-essential-fast21:before {
	content: "\e070";
}
.fi-essential-fast23:before {
	content: "\e071";
}
.fi-essential-female132:before {
	content: "\e072";
}
.fi-essential-fighter4:before {
	content: "\e073";
}
.fi-essential-file33:before {
	content: "\e074";
}
.fi-essential-file34:before {
	content: "\e075";
}
.fi-essential-file39:before {
	content: "\e076";
}
.fi-essential-film42:before {
	content: "\e077";
}
.fi-essential-film44:before {
	content: "\e078";
}
.fi-essential-filter14:before {
	content: "\e079";
}
.fi-essential-fire24:before {
	content: "\e07a";
}
.fi-essential-fire25:before {
	content: "\e07b";
}
.fi-essential-fire26:before {
	content: "\e07c";
}
.fi-essential-flag34:before {
	content: "\e07d";
}
.fi-essential-flag35:before {
	content: "\e07e";
}
.fi-essential-flag36:before {
	content: "\e07f";
}
.fi-essential-flash14:before {
	content: "\e080";
}
.fi-essential-flask5:before {
	content: "\e081";
}
.fi-essential-flickr10:before {
	content: "\e082";
}
.fi-essential-flickr11:before {
	content: "\e083";
}
.fi-essential-flickr14:before {
	content: "\e084";
}
.fi-essential-flickr15:before {
	content: "\e085";
}
.fi-essential-folder114:before {
	content: "\e086";
}
.fi-essential-forward14:before {
	content: "\e087";
}
.fi-essential-foursquare8:before {
	content: "\e088";
}
.fi-essential-garbage9:before {
	content: "\e089";
}
.fi-essential-gift53:before {
	content: "\e08a";
}
.fi-essential-github15:before {
	content: "\e08b";
}
.fi-essential-github16:before {
	content: "\e08c";
}
.fi-essential-github17:before {
	content: "\e08d";
}
.fi-essential-github20:before {
	content: "\e08e";
}
.fi-essential-gittip1:before {
	content: "\e08f";
}
.fi-essential-gittip2:before {
	content: "\e090";
}
.fi-essential-glass19:before {
	content: "\e091";
}
.fi-essential-google40:before {
	content: "\e092";
}
.fi-essential-google45:before {
	content: "\e093";
}
.fi-essential-half17:before {
	content: "\e094";
}
.fi-essential-hard12:before {
	content: "\e095";
}
.fi-essential-headset5:before {
	content: "\e096";
}
.fi-essential-heart215:before {
	content: "\e097";
}
.fi-essential-heart217:before {
	content: "\e098";
}
.fi-essential-home99:before {
	content: "\e099";
}
.fi-essential-hospital12:before {
	content: "\e09a";
}
.fi-essential-hospital13:before {
	content: "\e09b";
}
.fi-essential-html15:before {
	content: "\e09c";
}
.fi-essential-image63:before {
	content: "\e09d";
}
.fi-essential-inbox22:before {
	content: "\e09e";
}
.fi-essential-indent4:before {
	content: "\e09f";
}
.fi-essential-info14:before {
	content: "\e0a0";
}
.fi-essential-information43:before {
	content: "\e0a1";
}
.fi-essential-ink7:before {
	content: "\e0a2";
}
.fi-essential-instagram7:before {
	content: "\e0a3";
}
.fi-essential-inverted4:before {
	content: "\e0a4";
}
.fi-essential-italic4:before {
	content: "\e0a5";
}
.fi-essential-joystick7:before {
	content: "\e0a6";
}
.fi-essential-key68:before {
	content: "\e0a7";
}
.fi-essential-keyboard41:before {
	content: "\e0a8";
}
.fi-essential-label10:before {
	content: "\e0a9";
}
.fi-essential-label11:before {
	content: "\e0aa";
}
.fi-essential-laptop67:before {
	content: "\e0ab";
}
.fi-essential-large16:before {
	content: "\e0ac";
}
.fi-essential-leaf40:before {
	content: "\e0ad";
}
.fi-essential-left46:before {
	content: "\e0ae";
}
.fi-essential-left48:before {
	content: "\e0af";
}
.fi-essential-left57:before {
	content: "\e0b0";
}
.fi-essential-left62:before {
	content: "\e0b1";
}
.fi-essential-left63:before {
	content: "\e0b2";
}
.fi-essential-legal6:before {
	content: "\e0b3";
}
.fi-essential-legal7:before {
	content: "\e0b4";
}
.fi-essential-lemon5:before {
	content: "\e0b5";
}
.fi-essential-letter31:before {
	content: "\e0b6";
}
.fi-essential-letter32:before {
	content: "\e0b7";
}
.fi-essential-level3:before {
	content: "\e0b8";
}
.fi-essential-level4:before {
	content: "\e0b9";
}
.fi-essential-lightbulb19:before {
	content: "\e0ba";
}
.fi-essential-link26:before {
	content: "\e0bb";
}
.fi-essential-linkedin14:before {
	content: "\e0bc";
}
.fi-essential-linkedin16:before {
	content: "\e0bd";
}
.fi-essential-linux6:before {
	content: "\e0be";
}
.fi-essential-list42:before {
	content: "\e0bf";
}
.fi-essential-list43:before {
	content: "\e0c0";
}
.fi-essential-list44:before {
	content: "\e0c1";
}
.fi-essential-lock32:before {
	content: "\e0c2";
}
.fi-essential-magnet5:before {
	content: "\e0c3";
}
.fi-essential-magnifier21:before {
	content: "\e0c4";
}
.fi-essential-magnifying42:before {
	content: "\e0c5";
}
.fi-essential-male165:before {
	content: "\e0c6";
}
.fi-essential-map65:before {
	content: "\e0c7";
}
.fi-essential-maxcdn1:before {
	content: "\e0c8";
}
.fi-essential-medical40:before {
	content: "\e0c9";
}
.fi-essential-menu24:before {
	content: "\e0ca";
}
.fi-essential-microphone54:before {
	content: "\e0cb";
}
.fi-essential-microphone56:before {
	content: "\e0cc";
}
.fi-essential-minus28:before {
	content: "\e0cd";
}
.fi-essential-minus29:before {
	content: "\e0ce";
}
.fi-essential-minus30:before {
	content: "\e0cf";
}
.fi-essential-minus34:before {
	content: "\e0d0";
}
.fi-essential-minus35:before {
	content: "\e0d1";
}
.fi-essential-minus36:before {
	content: "\e0d2";
}
.fi-essential-minus37:before {
	content: "\e0d3";
}
.fi-essential-mobile173:before {
	content: "\e0d4";
}
.fi-essential-money46:before {
	content: "\e0d5";
}
.fi-essential-monitor47:before {
	content: "\e0d6";
}
.fi-essential-moon24:before {
	content: "\e0d7";
}
.fi-essential-move15:before {
	content: "\e0d8";
}
.fi-essential-move16:before {
	content: "\e0d9";
}
.fi-essential-musical70:before {
	content: "\e0da";
}
.fi-essential-open139:before {
	content: "\e0db";
}
.fi-essential-open140:before {
	content: "\e0dc";
}
.fi-essential-open141:before {
	content: "\e0dd";
}
.fi-essential-outdent:before {
	content: "\e0de";
}
.fi-essential-paper95:before {
	content: "\e0df";
}
.fi-essential-paperclip12:before {
	content: "\e0e0";
}
.fi-essential-paste3:before {
	content: "\e0e1";
}
.fi-essential-pause21:before {
	content: "\e0e2";
}
.fi-essential-paypal8:before {
	content: "\e0e3";
}
.fi-essential-pencil47:before {
	content: "\e0e4";
}
.fi-essential-pencil48:before {
	content: "\e0e5";
}
.fi-essential-pencil52:before {
	content: "\e0e6";
}
.fi-essential-phone93:before {
	content: "\e0e7";
}
.fi-essential-phone94:before {
	content: "\e0e8";
}
.fi-essential-phone95:before {
	content: "\e0e9";
}
.fi-essential-photo54:before {
	content: "\e0ea";
}
.fi-essential-pinterest16:before {
	content: "\e0eb";
}
.fi-essential-pinterest17:before {
	content: "\e0ec";
}
.fi-essential-pinterest18:before {
	content: "\e0ed";
}
.fi-essential-pinterest19:before {
	content: "\e0ee";
}
.fi-essential-pinterest20:before {
	content: "\e0ef";
}
.fi-essential-pinterest22:before {
	content: "\e0f0";
}
.fi-essential-play51:before {
	content: "\e0f1";
}
.fi-essential-play52:before {
	content: "\e0f2";
}
.fi-essential-play55:before {
	content: "\e0f3";
}
.fi-essential-plus36:before {
	content: "\e0f4";
}
.fi-essential-plus37:before {
	content: "\e0f5";
}
.fi-essential-plus38:before {
	content: "\e0f6";
}
.fi-essential-plus39:before {
	content: "\e0f7";
}
.fi-essential-plus40:before {
	content: "\e0f8";
}
.fi-essential-pound15:before {
	content: "\e0f9";
}
.fi-essential-power55:before {
	content: "\e0fa";
}
.fi-essential-print23:before {
	content: "\e0fb";
}
.fi-essential-profile25:before {
	content: "\e0fc";
}
.fi-essential-puzzle18:before {
	content: "\e0fd";
}
.fi-essential-question30:before {
	content: "\e0fe";
}
.fi-essential-question33:before {
	content: "\e0ff";
}
.fi-essential-question35:before {
	content: "\e100";
}
.fi-essential-question36:before {
	content: "\e101";
}
.fi-essential-quote4:before {
	content: "\e102";
}
.fi-essential-rectangular49:before {
	content: "\e103";
}
.fi-essential-renren1:before {
	content: "\e104";
}
.fi-essential-reply11:before {
	content: "\e105";
}
.fi-essential-reply12:before {
	content: "\e106";
}
.fi-essential-reply13:before {
	content: "\e107";
}
.fi-essential-reply14:before {
	content: "\e108";
}
.fi-essential-reply15:before {
	content: "\e109";
}
.fi-essential-restaurant22:before {
	content: "\e10a";
}
.fi-essential-retro7:before {
	content: "\e10b";
}
.fi-essential-retweet6:before {
	content: "\e10c";
}
.fi-essential-right43:before {
	content: "\e10d";
}
.fi-essential-right47:before {
	content: "\e10e";
}
.fi-essential-right48:before {
	content: "\e10f";
}
.fi-essential-right49:before {
	content: "\e110";
}
.fi-essential-right50:before {
	content: "\e111";
}
.fi-essential-right51:before {
	content: "\e112";
}
.fi-essential-right64:before {
	content: "\e113";
}
.fi-essential-right65:before {
	content: "\e114";
}
.fi-essential-right66:before {
	content: "\e115";
}
.fi-essential-road18:before {
	content: "\e116";
}
.fi-essential-rocket22:before {
	content: "\e117";
}
.fi-essential-rotating16:before {
	content: "\e118";
}
.fi-essential-rss36:before {
	content: "\e119";
}
.fi-essential-rss38:before {
	content: "\e11a";
}
.fi-essential-rub:before {
	content: "\e11b";
}
.fi-essential-save10:before {
	content: "\e11c";
}
.fi-essential-scissors19:before {
	content: "\e11d";
}
.fi-essential-search38:before {
	content: "\e11e";
}
.fi-essential-serious:before {
	content: "\e11f";
}
.fi-essential-share20:before {
	content: "\e120";
}
.fi-essential-shield57:before {
	content: "\e121";
}
.fi-essential-shopping136:before {
	content: "\e122";
}
.fi-essential-signal39:before {
	content: "\e123";
}
.fi-essential-sitemap2:before {
	content: "\e124";
}
.fi-essential-skype15:before {
	content: "\e125";
}
.fi-essential-small159:before {
	content: "\e126";
}
.fi-essential-smile5:before {
	content: "\e127";
}
.fi-essential-sort31:before {
	content: "\e128";
}
.fi-essential-sort32:before {
	content: "\e129";
}
.fi-essential-sort33:before {
	content: "\e12a";
}
.fi-essential-sort34:before {
	content: "\e12b";
}
.fi-essential-sort35:before {
	content: "\e12c";
}
.fi-essential-sort36:before {
	content: "\e12d";
}
.fi-essential-sort37:before {
	content: "\e12e";
}
.fi-essential-sort38:before {
	content: "\e12f";
}
.fi-essential-sort39:before {
	content: "\e130";
}
.fi-essential-speaker50:before {
	content: "\e131";
}
.fi-essential-speaker54:before {
	content: "\e132";
}
.fi-essential-spinner9:before {
	content: "\e133";
}
.fi-essential-square83:before {
	content: "\e134";
}
.fi-essential-square84:before {
	content: "\e135";
}
.fi-essential-square85:before {
	content: "\e136";
}
.fi-essential-square92:before {
	content: "\e137";
}
.fi-essential-stack18:before {
	content: "\e138";
}
.fi-essential-stack19:before {
	content: "\e139";
}
.fi-essential-star108:before {
	content: "\e13a";
}
.fi-essential-star109:before {
	content: "\e13b";
}
.fi-essential-star111:before {
	content: "\e13c";
}
.fi-essential-star112:before {
	content: "\e13d";
}
.fi-essential-step3:before {
	content: "\e13e";
}
.fi-essential-step4:before {
	content: "\e13f";
}
.fi-essential-stop26:before {
	content: "\e140";
}
.fi-essential-subscript:before {
	content: "\e141";
}
.fi-essential-sun43:before {
	content: "\e142";
}
.fi-essential-sun44:before {
	content: "\e143";
}
.fi-essential-superscript1:before {
	content: "\e144";
}
.fi-essential-table34:before {
	content: "\e145";
}
.fi-essential-tablet60:before {
	content: "\e146";
}
.fi-essential-tachometer:before {
	content: "\e147";
}
.fi-essential-talk3:before {
	content: "\e148";
}
.fi-essential-talk4:before {
	content: "\e149";
}
.fi-essential-tasks1:before {
	content: "\e14a";
}
.fi-essential-terminal10:before {
	content: "\e14b";
}
.fi-essential-text76:before {
	content: "\e14c";
}
.fi-essential-text78:before {
	content: "\e14d";
}
.fi-essential-text83:before {
	content: "\e14e";
}
.fi-essential-text84:before {
	content: "\e14f";
}
.fi-essential-three82:before {
	content: "\e150";
}
.fi-essential-thumb19:before {
	content: "\e151";
}
.fi-essential-thumb20:before {
	content: "\e152";
}
.fi-essential-thumb21:before {
	content: "\e153";
}
.fi-essential-thumb22:before {
	content: "\e154";
}
.fi-essential-thumb23:before {
	content: "\e155";
}
.fi-essential-ticket10:before {
	content: "\e156";
}
.fi-essential-toggle2:before {
	content: "\e157";
}
.fi-essential-trello1:before {
	content: "\e158";
}
.fi-essential-triangles1:before {
	content: "\e159";
}
.fi-essential-triangular32:before {
	content: "\e15a";
}
.fi-essential-trophy11:before {
	content: "\e15b";
}
.fi-essential-truck24:before {
	content: "\e15c";
}
.fi-essential-tumblr13:before {
	content: "\e15d";
}
.fi-essential-tumblr14:before {
	content: "\e15e";
}
.fi-essential-turkish2:before {
	content: "\e15f";
}
.fi-essential-twitter24:before {
	content: "\e160";
}
.fi-essential-twitter25:before {
	content: "\e161";
}
.fi-essential-twitter28:before {
	content: "\e162";
}
.fi-essential-two151:before {
	content: "\e163";
}
.fi-essential-umbrella23:before {
	content: "\e164";
}
.fi-essential-underline4:before {
	content: "\e165";
}
.fi-essential-undo16:before {
	content: "\e166";
}
.fi-essential-unlock8:before {
	content: "\e167";
}
.fi-essential-unlock9:before {
	content: "\e168";
}
.fi-essential-up41:before {
	content: "\e169";
}
.fi-essential-up42:before {
	content: "\e16a";
}
.fi-essential-up43:before {
	content: "\e16b";
}
.fi-essential-up55:before {
	content: "\e16c";
}
.fi-essential-upload46:before {
	content: "\e16d";
}
.fi-essential-upload48:before {
	content: "\e16e";
}
.fi-essential-upload49:before {
	content: "\e16f";
}
.fi-essential-user108:before {
	content: "\e170";
}
.fi-essential-user98:before {
	content: "\e171";
}
.fi-essential-user99:before {
	content: "\e172";
}
.fi-essential-users12:before {
	content: "\e173";
}
.fi-essential-users13:before {
	content: "\e174";
}
.fi-essential-video121:before {
	content: "\e175";
}
.fi-essential-vimeo14:before {
	content: "\e176";
}
.fi-essential-vimeo16:before {
	content: "\e177";
}
.fi-essential-vimeo18:before {
	content: "\e178";
}
.fi-essential-vk2:before {
	content: "\e179";
}
.fi-essential-volume39:before {
	content: "\e17a";
}
.fi-essential-warning23:before {
	content: "\e17b";
}
.fi-essential-warning25:before {
	content: "\e17c";
}
.fi-essential-weibo1:before {
	content: "\e17d";
}
.fi-essential-whatsapp2:before {
	content: "\e17e";
}
.fi-essential-wheelchair4:before {
	content: "\e17f";
}
.fi-essential-wheelchair5:before {
	content: "\e180";
}
.fi-essential-white73:before {
	content: "\e181";
}
.fi-essential-white74:before {
	content: "\e182";
}
.fi-essential-white75:before {
	content: "\e183";
}
.fi-essential-windows31:before {
	content: "\e184";
}
.fi-essential-wrench46:before {
	content: "\e185";
}
.fi-essential-xing7:before {
	content: "\e186";
}
.fi-essential-xing9:before {
	content: "\e187";
}
.fi-essential-yahoo8:before {
	content: "\e188";
}
.fi-essential-yen22:before {
	content: "\e189";
}
.fi-essential-youtube19:before {
	content: "\e18a";
}
.fi-essential-youtube20:before {
	content: "\e18b";
}
.fi-essential-youtube21:before {
	content: "\e18c";
}
.fi-essential-youtube23:before {
	content: "\e18d";
}
.fi-essential-youtube27:before {
	content: "\e18e";
}
