	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/02/2016 14:47
  	*/

@font-face {
  font-family: "Metrize";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Metrize";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="fi-metrize-"]:before, [class*=" fi-metrize-"]:before,
[class^="fi-metrize-"]:after, [class*=" fi-metrize-"]:after {   
  font-family: Metrize;
  font-size: 1em;
}

.fi-metrize-3d-cube-in-circular-button:before { content: "\f100"; }
.fi-metrize-add-circular-button:before { content: "\f101"; }
.fi-metrize-add-to-the-cloud-with-circular-button:before { content: "\f102"; }
.fi-metrize-add-with-circular-button:before { content: "\f103"; }
.fi-metrize-adjust-circular-button:before { content: "\f104"; }
.fi-metrize-airplane-filled-symbol-in-circular-button:before { content: "\f105"; }
.fi-metrize-alarm-clock-circular-button:before { content: "\f106"; }
.fi-metrize-animal-footprint-in-circular-button:before { content: "\f107"; }
.fi-metrize-arrow-cycling-symbol-in-a-circle:before { content: "\f108"; }
.fi-metrize-arrows-cycle-in-circular-button:before { content: "\f109"; }
.fi-metrize-atom-in-circular-button:before { content: "\f10a"; }
.fi-metrize-attach-symbol-of-oblique-paperclip-in-circular-button-of-interface:before { content: "\f10b"; }
.fi-metrize-attachment-circular-button:before { content: "\f10c"; }
.fi-metrize-back-left-arrow-in-circular-button:before { content: "\f10d"; }
.fi-metrize-backward-circular-multimedia-button:before { content: "\f10e"; }
.fi-metrize-bag-in-a-circle:before { content: "\f10f"; }
.fi-metrize-ban-block-prohibition:before { content: "\f110"; }
.fi-metrize-bars-graphic-in-a-circle:before { content: "\f111"; }
.fi-metrize-behance-logo-in-circular-social-interface-button:before { content: "\f112"; }
.fi-metrize-bezier-circular-design-button:before { content: "\f113"; }
.fi-metrize-block-menu-in-circular-button:before { content: "\f114"; }
.fi-metrize-bolt-flash-circular-button:before { content: "\f115"; }
.fi-metrize-box-add-circular-interface-button:before { content: "\f116"; }
.fi-metrize-box-circular-button:before { content: "\f117"; }
.fi-metrize-box-close-circular-button:before { content: "\f118"; }
.fi-metrize-box-remove-circular-button:before { content: "\f119"; }
.fi-metrize-browser-sizes-circular-button:before { content: "\f11a"; }
.fi-metrize-brush-en-circular-button:before { content: "\f11b"; }
.fi-metrize-burn-circular-interface-button-with-fire-flames:before { content: "\f11c"; }
.fi-metrize-call-telephone-auricular-in-circular-button:before { content: "\f11d"; }
.fi-metrize-cd-dvd-circular-button:before { content: "\f11e"; }
.fi-metrize-chart-down-in-a-circle:before { content: "\f11f"; }
.fi-metrize-chat-circular-button:before { content: "\f120"; }
.fi-metrize-check-circular-button:before { content: "\f121"; }
.fi-metrize-check-with-circular-button:before { content: "\f122"; }
.fi-metrize-circle:before { content: "\f123"; }
.fi-metrize-circles-in-a-circle:before { content: "\f124"; }
.fi-metrize-clock-circular-interface-button:before { content: "\f125"; }
.fi-metrize-close-with-button-circle:before { content: "\f126"; }
.fi-metrize-cloud-filled-shape-in-a-circle:before { content: "\f127"; }
.fi-metrize-cloud-remove-circular-button:before { content: "\f128"; }
.fi-metrize-cloud-upload-circular-interface-button:before { content: "\f129"; }
.fi-metrize-coins-circular-button:before { content: "\f12a"; }
.fi-metrize-comment-in-circular-button:before { content: "\f12b"; }
.fi-metrize-comment-oval-filled-speech-bubble-in-circular-button:before { content: "\f12c"; }
.fi-metrize-comments-circular-button-with-two-oval-speech-bubbles-inside:before { content: "\f12d"; }
.fi-metrize-compass-circular-button:before { content: "\f12e"; }
.fi-metrize-compass-circular-button-with-winds-star-symbol:before { content: "\f12f"; }
.fi-metrize-contract-horizontally-symbol-in-circular-interface-button:before { content: "\f130"; }
.fi-metrize-contract-vertically-with-circular-button:before { content: "\f131"; }
.fi-metrize-contract-with-circular-button:before { content: "\f132"; }
.fi-metrize-contract-with-four-arrows-in-circular-button:before { content: "\f133"; }
.fi-metrize-contract-with-oblique-arrows-in-circular-button:before { content: "\f134"; }
.fi-metrize-copy-document-with-circular-button:before { content: "\f135"; }
.fi-metrize-copy-paste-document-with-circular-interface-button:before { content: "\f136"; }
.fi-metrize-credit-card-in-a-circle:before { content: "\f137"; }
.fi-metrize-cross-in-circular-button:before { content: "\f138"; }
.fi-metrize-curved-right-arrow-in-circular-button:before { content: "\f139"; }
.fi-metrize-digg-logo-in-social-circular-button:before { content: "\f13a"; }
.fi-metrize-directions-arrows-of-cross-in-circular-button:before { content: "\f13b"; }
.fi-metrize-document-circular-button-interface-symbol:before { content: "\f13c"; }
.fi-metrize-document-in-circular-button:before { content: "\f13d"; }
.fi-metrize-documents-circular-button:before { content: "\f13e"; }
.fi-metrize-dollar-in-circular-button:before { content: "\f13f"; }
.fi-metrize-dots-circle-in-circular-symbol:before { content: "\f140"; }
.fi-metrize-double-diamonds-in-a-circle:before { content: "\f141"; }
.fi-metrize-double-vertical-arrow-in-circular-button:before { content: "\f142"; }
.fi-metrize-down-arrow-big-symbol-in-circular-button:before { content: "\f143"; }
.fi-metrize-down-arrow-circular-button:before { content: "\f144"; }
.fi-metrize-down-arrow-circular-button-1:before { content: "\f145"; }
.fi-metrize-down-arrow-circular-button-2:before { content: "\f146"; }
.fi-metrize-down-arrow-in-a-circle:before { content: "\f147"; }
.fi-metrize-down-arrow-in-a-circle-1:before { content: "\f148"; }
.fi-metrize-down-arrow-in-circular-button:before { content: "\f149"; }
.fi-metrize-down-arrow-multi-line-symbol-in-circular-button:before { content: "\f14a"; }
.fi-metrize-download-from-the-cloud-with-circular-button:before { content: "\f14b"; }
.fi-metrize-download-heart-in-circular-button:before { content: "\f14c"; }
.fi-metrize-download-with-circular-button:before { content: "\f14d"; }
.fi-metrize-drop-circular-button:before { content: "\f14e"; }
.fi-metrize-drops-in-a-circle:before { content: "\f14f"; }
.fi-metrize-eject-circular-button:before { content: "\f150"; }
.fi-metrize-email-add-circular-interface-button:before { content: "\f151"; }
.fi-metrize-email-close-circular-button-interface-symbol:before { content: "\f152"; }
.fi-metrize-email-download-with-circular-button:before { content: "\f153"; }
.fi-metrize-email-in-circular-button:before { content: "\f154"; }
.fi-metrize-email-remove-circular-interface-button:before { content: "\f155"; }
.fi-metrize-email-spam-circular-interface-button:before { content: "\f156"; }
.fi-metrize-email-upload-circular-button-interface-symbol:before { content: "\f157"; }
.fi-metrize-euro-in-a-circle:before { content: "\f158"; }
.fi-metrize-exclamation-in-a-circle:before { content: "\f159"; }
.fi-metrize-exclamation-in-circular-button:before { content: "\f15a"; }
.fi-metrize-expand-arrows-in-circular-button:before { content: "\f15b"; }
.fi-metrize-expand-circular-symbol:before { content: "\f15c"; }
.fi-metrize-expand-four-oblique-arrows-symbol-in-circular-button:before { content: "\f15d"; }
.fi-metrize-expand-horizontally-with-circular-button:before { content: "\f15e"; }
.fi-metrize-expand-oblique-arrows-symbol-in-circular-interface-button:before { content: "\f15f"; }
.fi-metrize-expand-with-arrows-in-vertical-symbol-in-circular-button:before { content: "\f160"; }
.fi-metrize-eye-and-slash-disabled-visualization-option-in-circular-button:before { content: "\f161"; }
.fi-metrize-eye-visible-option-in-circular-button:before { content: "\f162"; }
.fi-metrize-favorite-star-circular-interface-button:before { content: "\f163"; }
.fi-metrize-female-sign-in-a-circle:before { content: "\f164"; }
.fi-metrize-forward-with-multimedia-circular-button:before { content: "\f165"; }
.fi-metrize-four-directions-in-circular-button:before { content: "\f166"; }
.fi-metrize-graphs-circular-interface-button:before { content: "\f167"; }
.fi-metrize-grid-or-visualization-option-circular-interface-button:before { content: "\f168"; }
.fi-metrize-grid-symbol-of-squares-in-circular-button:before { content: "\f169"; }
.fi-metrize-hdd-circular-button:before { content: "\f16a"; }
.fi-metrize-hdd-net-symbol-in-a-circle:before { content: "\f16b"; }
.fi-metrize-hdd-raid-circular-symbol:before { content: "\f16c"; }
.fi-metrize-home-wifi-circular-button-interface-symbol:before { content: "\f16d"; }
.fi-metrize-idea-circular-button:before { content: "\f16e"; }
.fi-metrize-information-circular-button-interface-symbol:before { content: "\f16f"; }
.fi-metrize-italic-circular-button:before { content: "\f170"; }
.fi-metrize-key-circular-button:before { content: "\f171"; }
.fi-metrize-landscape-in-circular-button:before { content: "\f172"; }
.fi-metrize-layers-in-circular-button:before { content: "\f173"; }
.fi-metrize-leaf-shape-in-a-circle:before { content: "\f174"; }
.fi-metrize-left-arrow-big-symbol-in-circular-button:before { content: "\f175"; }
.fi-metrize-left-arrow-circular-button:before { content: "\f176"; }
.fi-metrize-left-arrow-circular-button-1:before { content: "\f177"; }
.fi-metrize-left-arrow-in-a-circle:before { content: "\f178"; }
.fi-metrize-left-arrow-of-multi-lines-in-circular-button:before { content: "\f179"; }
.fi-metrize-left-arrow-thin-symbol-in-circular-button:before { content: "\f17a"; }
.fi-metrize-left-arrow-triangle-in-circular-button:before { content: "\f17b"; }
.fi-metrize-left-curved-arrow-in-circular-button:before { content: "\f17c"; }
.fi-metrize-left-right-double-horizontal-arrow-in-circular-button:before { content: "\f17d"; }
.fi-metrize-left-text-justify-circular-button:before { content: "\f17e"; }
.fi-metrize-like-add-circular-button:before { content: "\f17f"; }
.fi-metrize-like-ban-circular-button:before { content: "\f180"; }
.fi-metrize-like-close-circular-interface-button:before { content: "\f181"; }
.fi-metrize-like-heart-in-circular-button:before { content: "\f182"; }
.fi-metrize-like-remove-with-circular-button:before { content: "\f183"; }
.fi-metrize-like-upload-circular-button:before { content: "\f184"; }
.fi-metrize-line-with-dots-straight-symbol-in-a-circle:before { content: "\f185"; }
.fi-metrize-list-circular-button:before { content: "\f186"; }
.fi-metrize-list-circular-interface-button:before { content: "\f187"; }
.fi-metrize-location-circular-button:before { content: "\f188"; }
.fi-metrize-location-circular-button-1:before { content: "\f189"; }
.fi-metrize-locked-padlock-in-circular-button:before { content: "\f18a"; }
.fi-metrize-login-lock-refresh-in-circular-button:before { content: "\f18b"; }
.fi-metrize-luminosity-with-circular-button:before { content: "\f18c"; }
.fi-metrize-magic-wand-circular-interface-button:before { content: "\f18d"; }
.fi-metrize-magnet-circular-button:before { content: "\f18e"; }
.fi-metrize-mailbox-in-circular-button:before { content: "\f18f"; }
.fi-metrize-male-sign-in-a-circle:before { content: "\f190"; }
.fi-metrize-male-user-in-circular-button:before { content: "\f191"; }
.fi-metrize-man-in-circular-interface-button:before { content: "\f192"; }
.fi-metrize-map-filled-folded-paper-symbol-in-circular-interface-button:before { content: "\f193"; }
.fi-metrize-maps-location-circular-button:before { content: "\f194"; }
.fi-metrize-marker-add-with-circular-button:before { content: "\f195"; }
.fi-metrize-marker-in-circular-button:before { content: "\f196"; }
.fi-metrize-marker-minus-sign-in-circular-symbol:before { content: "\f197"; }
.fi-metrize-marker-with-three-dots-circular-button:before { content: "\f198"; }
.fi-metrize-minus-sign-in-circular-button:before { content: "\f199"; }
.fi-metrize-minus-sign-in-circular-button-1:before { content: "\f19a"; }
.fi-metrize-money-pig-outlined-in-circular-button:before { content: "\f19b"; }
.fi-metrize-more-circular-button-with-three-points:before { content: "\f19c"; }
.fi-metrize-multi-borders-in-a-circle:before { content: "\f19d"; }
.fi-metrize-music-circular-button:before { content: "\f19e"; }
.fi-metrize-new-email-with-circular-button:before { content: "\f19f"; }
.fi-metrize-next-step-circular-button:before { content: "\f1a0"; }
.fi-metrize-next-step-with-circular-multimedia-button:before { content: "\f1a1"; }
.fi-metrize-number-eight-in-a-circle:before { content: "\f1a2"; }
.fi-metrize-number-five-in-circular-button:before { content: "\f1a3"; }
.fi-metrize-number-four-in-circular-button:before { content: "\f1a4"; }
.fi-metrize-number-nine-in-a-circle:before { content: "\f1a5"; }
.fi-metrize-number-one-in-a-circle:before { content: "\f1a6"; }
.fi-metrize-number-seven-in-a-circle:before { content: "\f1a7"; }
.fi-metrize-number-six-in-a-circle:before { content: "\f1a8"; }
.fi-metrize-number-three-in-a-circle:before { content: "\f1a9"; }
.fi-metrize-number-two-in-a-circle:before { content: "\f1aa"; }
.fi-metrize-number-zero-in-a-circle:before { content: "\f1ab"; }
.fi-metrize-off-circular-button-symbol:before { content: "\f1ac"; }
.fi-metrize-pause-with-circular-button:before { content: "\f1ad"; }
.fi-metrize-photo-camera-filled-symbol-of-the-tool-in-circular-button:before { content: "\f1ae"; }
.fi-metrize-pin-of-map-in-circular-button:before { content: "\f1af"; }
.fi-metrize-pinterest-social-logo:before { content: "\f1b0"; }
.fi-metrize-play-right-arrow-circular-button:before { content: "\f1b1"; }
.fi-metrize-play-right-arrow-symbol-in-circular-multimedia-button:before { content: "\f1b2"; }
.fi-metrize-play-with-circular-button-with-right-arrow-of-bold-rounded-filled-triangle:before { content: "\f1b3"; }
.fi-metrize-plus-sign-in-add-circular-interface-button:before { content: "\f1b4"; }
.fi-metrize-podcast-circular-button:before { content: "\f1b5"; }
.fi-metrize-pounds-circular-button:before { content: "\f1b6"; }
.fi-metrize-previous-fast-step-circular-multimedia-interface-button:before { content: "\f1b7"; }
.fi-metrize-previous-step-circular-button:before { content: "\f1b8"; }
.fi-metrize-question-circular-button:before { content: "\f1b9"; }
.fi-metrize-question-in-circular-button:before { content: "\f1ba"; }
.fi-metrize-quote-circular-button:before { content: "\f1bb"; }
.fi-metrize-random-circular-button:before { content: "\f1bc"; }
.fi-metrize-record-circular-button:before { content: "\f1bd"; }
.fi-metrize-recycle-with-double-curved-arrows-in-circular-button:before { content: "\f1be"; }
.fi-metrize-refresh-circular-arrow-in-a-circle:before { content: "\f1bf"; }
.fi-metrize-retweet-circular-button:before { content: "\f1c0"; }
.fi-metrize-right-arrow-circular-button:before { content: "\f1c1"; }
.fi-metrize-right-arrow-circular-button-1:before { content: "\f1c2"; }
.fi-metrize-right-arrow-in-a-circle:before { content: "\f1c3"; }
.fi-metrize-right-arrow-in-circular-button:before { content: "\f1c4"; }
.fi-metrize-right-arrow-in-circular-button-1:before { content: "\f1c5"; }
.fi-metrize-right-arrow-multi-line-symbol-in-a-circle:before { content: "\f1c6"; }
.fi-metrize-right-text-alignment-with-circular-button:before { content: "\f1c7"; }
.fi-metrize-rss-subscription-circular-button:before { content: "\f1c8"; }
.fi-metrize-rulers-circular-button:before { content: "\f1c9"; }
.fi-metrize-rulers-on-axis-in-circular-button:before { content: "\f1ca"; }
.fi-metrize-scale-circular-button:before { content: "\f1cb"; }
.fi-metrize-screwdriver-in-a-circle:before { content: "\f1cc"; }
.fi-metrize-search-with-magnifier-in-circular-button:before { content: "\f1cd"; }
.fi-metrize-select-circle-with-circular-button:before { content: "\f1ce"; }
.fi-metrize-select-square-of-broken-line-in-circular-button:before { content: "\f1cf"; }
.fi-metrize-selection-download-button-circle:before { content: "\f1d0"; }
.fi-metrize-selection-download-circle:before { content: "\f1d1"; }
.fi-metrize-selection-upload-circle:before { content: "\f1d2"; }
.fi-metrize-settings-circular-button:before { content: "\f1d3"; }
.fi-metrize-settings-circular-button-with-two-wheels:before { content: "\f1d4"; }
.fi-metrize-settings-tools-cross-in-circular-button:before { content: "\f1d5"; }
.fi-metrize-share-this-social-circular-button:before { content: "\f1d6"; }
.fi-metrize-shield-in-circular-button-of-security:before { content: "\f1d7"; }
.fi-metrize-sliders-console-circular-button:before { content: "\f1d8"; }
.fi-metrize-sliders-symbol-in-a-circle:before { content: "\f1d9"; }
.fi-metrize-snowflake-in-a-circle:before { content: "\f1da"; }
.fi-metrize-social-500px-circular-button:before { content: "\f1db"; }
.fi-metrize-social-bebo-circular-button:before { content: "\f1dc"; }
.fi-metrize-social-blogger-circular-interface-button:before { content: "\f1dd"; }
.fi-metrize-social-deviantart-in-circular-button:before { content: "\f1de"; }
.fi-metrize-social-dribbble-circular-button:before { content: "\f1df"; }
.fi-metrize-social-email-circular-button:before { content: "\f1e0"; }
.fi-metrize-social-envato-symbol-in-a-circle:before { content: "\f1e1"; }
.fi-metrize-social-evernote-circular-button:before { content: "\f1e2"; }
.fi-metrize-social-facebook-circular-button:before { content: "\f1e3"; }
.fi-metrize-social-flickr-circular-button:before { content: "\f1e4"; }
.fi-metrize-social-forrst-logo-in-circular-button:before { content: "\f1e5"; }
.fi-metrize-social-github-circular-button:before { content: "\f1e6"; }
.fi-metrize-social-google-plus-circular-button:before { content: "\f1e7"; }
.fi-metrize-social-grooveshark-circular-button:before { content: "\f1e8"; }
.fi-metrize-social-last-fm-in-circular-button-symbol:before { content: "\f1e9"; }
.fi-metrize-social-linkedin-circular-button:before { content: "\f1ea"; }
.fi-metrize-social-myspace-in-circular-button:before { content: "\f1eb"; }
.fi-metrize-social-paypal-circular-button:before { content: "\f1ec"; }
.fi-metrize-social-photobucket-circular-button:before { content: "\f1ed"; }
.fi-metrize-social-quora-circular-button:before { content: "\f1ee"; }
.fi-metrize-social-skype-circular-button:before { content: "\f1ef"; }
.fi-metrize-social-soundcloud-circular-button:before { content: "\f1f0"; }
.fi-metrize-social-stumbleupon-logo-in-circular-button:before { content: "\f1f1"; }
.fi-metrize-social-tumblr-circular-button:before { content: "\f1f2"; }
.fi-metrize-social-twitter-circular-button:before { content: "\f1f3"; }
.fi-metrize-social-vimeo-circular-button:before { content: "\f1f4"; }
.fi-metrize-social-yahoo-circular-button:before { content: "\f1f5"; }
.fi-metrize-social-yelp-circular-button:before { content: "\f1f6"; }
.fi-metrize-social-youtube-circular-button:before { content: "\f1f7"; }
.fi-metrize-social-zerply-circular-button:before { content: "\f1f8"; }
.fi-metrize-sos-circular-button:before { content: "\f1f9"; }
.fi-metrize-sound-in-circular-button:before { content: "\f1fa"; }
.fi-metrize-sound-off-with-circular-button:before { content: "\f1fb"; }
.fi-metrize-speed-circular-button:before { content: "\f1fc"; }
.fi-metrize-square-shape-with-dots-on-corners-in-circular-button:before { content: "\f1fd"; }
.fi-metrize-stop-circular-multimedia-button:before { content: "\f1fe"; }
.fi-metrize-sun-in-a-circle:before { content: "\f1ff"; }
.fi-metrize-sunshine-weather-symbol-in-a-circle:before { content: "\f200"; }
.fi-metrize-text-bold-circular-button:before { content: "\f201"; }
.fi-metrize-text-center-alignment-circular-interface-button:before { content: "\f202"; }
.fi-metrize-text-height-with-circular-button:before { content: "\f203"; }
.fi-metrize-text-justify-circular-button:before { content: "\f204"; }
.fi-metrize-text-justify-to-right-with-circular-button:before { content: "\f205"; }
.fi-metrize-text-left-alignment-with-circular-interface-button:before { content: "\f206"; }
.fi-metrize-text-normal-option-circular-button:before { content: "\f207"; }
.fi-metrize-text-option-line-through-circular-button:before { content: "\f208"; }
.fi-metrize-text-paragraph-in-circular-button:before { content: "\f209"; }
.fi-metrize-text-size-plus-sign-in-circular-button:before { content: "\f20a"; }
.fi-metrize-text-size-reduce-symbol-in-circular-interface-button:before { content: "\f20b"; }
.fi-metrize-text-width-circular-button:before { content: "\f20c"; }
.fi-metrize-three-point-on-top-of-a-circle:before { content: "\f20d"; }
.fi-metrize-three-points-at-the-bottom-of-a-circle:before { content: "\f20e"; }
.fi-metrize-triple-points-in-a-circle:before { content: "\f20f"; }
.fi-metrize-underline-text-option-circular-interface-button:before { content: "\f210"; }
.fi-metrize-up-arrow-circle:before { content: "\f211"; }
.fi-metrize-up-arrow-circular-button:before { content: "\f212"; }
.fi-metrize-up-arrow-circular-button-1:before { content: "\f213"; }
.fi-metrize-up-arrow-circular-button-2:before { content: "\f214"; }
.fi-metrize-up-arrow-circular-button-interface-symbol:before { content: "\f215"; }
.fi-metrize-up-arrow-in-circular-button:before { content: "\f216"; }
.fi-metrize-up-arrow-rounded-triangle-in-circular-button:before { content: "\f217"; }
.fi-metrize-up-multi-line-arrow-in-a-circle:before { content: "\f218"; }
.fi-metrize-upload-circular-button:before { content: "\f219"; }
.fi-metrize-upload-selection-circular-button:before { content: "\f21a"; }
.fi-metrize-url-link-in-circular-button:before { content: "\f21b"; }
.fi-metrize-user-add-with-circular-button:before { content: "\f21c"; }
.fi-metrize-user-remove-circular-button-of-interface:before { content: "\f21d"; }
.fi-metrize-user-with-minus-sign-in-circular-button:before { content: "\f21e"; }
.fi-metrize-viddler-social-circle-symbol:before { content: "\f21f"; }
.fi-metrize-video-viewport-in-a-circle:before { content: "\f220"; }
.fi-metrize-viewport-circular-interface-button:before { content: "\f221"; }
.fi-metrize-virb-logo-in-social-circular-button:before { content: "\f222"; }
.fi-metrize-waves-in-a-circle:before { content: "\f223"; }
.fi-metrize-wifi-circular-button:before { content: "\f224"; }
.fi-metrize-wind-circular-weather-interface-button:before { content: "\f225"; }
.fi-metrize-wireframe-globe-in-a-circle:before { content: "\f226"; }
.fi-metrize-woman-in-a-circle:before { content: "\f227"; }
.fi-metrize-wordpress-logo-in-circular-button:before { content: "\f228"; }
.fi-metrize-world-circular-symbol:before { content: "\f229"; }
.fi-metrize-wrench-oblique-tool-in-circular-button:before { content: "\f22a"; }
.fi-metrize-yen-currency-sign-in-a-circle:before { content: "\f22b"; }