/**
 *	UI Framework Base
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/
*, *:after, *:before {
  @include box-sizing(border-box);
  @include selection($primary, $coconut);
  @include input-placeholder {
	//color: $placeholder-color;
  }
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: default;

  @include size(100%, 100%);
  @include user-select(none);

  color: $base-text;
  background-color: $base-bg;
  @if ($base-bg-image) {
	background-image: image_url($base-bg-image);
  }

  font: {
	size: $base-font-size;
	family: $base-font-family;
	weight: $font-weight-normal;
  }
  line-height: $base-line-height;

  box-sizing: border-box;

  .ui-selectable {
	cursor: text;
	@include user-select(text);
  }
}

.ui-splash {
  @include position(absolute, 0 0 null 0);
  @include transition(top 1s);
  @include box-shadow(0 0 5px 0 #333);
  height: 100%;
  z-index: $z-index-splash;
  background: $base-bg image_url("page-loader.gif") no-repeat center center;

  &.animate {
	top: -100%;
  }
}

.ui-loading-shim {
  @include position(fixed, 0 0 12px);
  @include flex-column($align: center, $justify: center);
  background: rgba($base-bg, 0.3);
  z-index: $z-index-splash;

  > .ui-loader {
	@include flex(0 0 auto);
	@include backdrop-blur(2px);
	@include box-shadow(0 0 4px 1px rgba($base-shadow-color, .75) inset);
	background: rgba($base-bg, 0.85);
	border: 1px solid $base-border-color;
	border-radius: $base-border-radius;
	color: rgba($base-text, 0.5);
	padding: 17px 17px 8px 8px;
	position: relative;

	span {
	  font-size: 1.8em;
	}
	span.second {
	  @include position(absolute, 8px 8px null null);
	  font-size: 1em;
	}
  }
}

a, button {
  margin: 0;
  color: $text-link;
  font-weight: $font-weight-strong;
  text-decoration: none;
  &, * {
	cursor: pointer;
	outline: none !important;
  }

  &[target='_blank']:after {
	font-size: 7px;
	content: '\f1e6';
	opacity: 0.75;
	font-family: Material;
	vertical-align: super;
	margin-left: 2px;
  }

  &:hover {
	color: darken($text-link, 20%);
  }
}

button {
  border: none;
  background: none;
}

hr {
  margin: 0.2rem 0;
  height: 2px;
  background: $hr-highlight;
  color: transparent;
  border: {
	style: solid;
	radius: 0.5rem;
	width: 1px 0 0;
	color: $hr-shadow;
  }
}