/**
 *	UI Framework Base
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/
@import "compass/css3";
@import "compass/css3/selection";

*, *:after, *:before {
  @include box-sizing(border-box);
  @include selection($primary, $primary-text);
  @include input-placeholder {
	color : $input-placeholder-text;
  }
}

html, body {
  margin           : 0;
  padding          : 0;
  cursor           : default;
  overflow         : hidden;

  @include size(100%, 100%);
  @include user-select(none);

  color            : $base-text;
  background-color : $base-bg;
  @if ($base-bg-image) {
	background-image : image_url($base-bg-image);
  }

  font     : {
	size   : $base-font-size;
	family : $base-font-family;
	weight : $font-weight-normal;
  }
  line-height      : $base-line-height;

  box-sizing       : border-box;

  .ui-selectable {
	cursor : text;
	@include user-select(text);
  }
}

.ui-splash {
  @include position(absolute, $l : 0, $r : 0, $t : 0);
  @include transition(top 1s);
  @include box-shadow(0 0 5px 0 #333);
  height     : 100%;
  z-index    : $z-index-splash;
  background : $base-bg image_url($base-splash-image) no-repeat center center;

  &.animate {
	top : -100%;
  }
}

.ui-loading-shim {
  @include position(fixed, $l : 0, $r : 0, $t : 0, $b : 12px);
  @include flex-column($align : center, $justify : center);
  background : rgba($base-bg, 0.3);
  z-index    : $z-index-splash;

  > .ui-loader {
	@include flex(0 0 auto);
	@include backdrop-blur(2px);
	@include box-shadow(0 0 4px 1px rgba($base-shadow-color, .75) inset);
	border   : {
	  width  : 1px;
	  style  : solid;
	  color  : $base-border-color;
	  radius : $base-border-radius;
	}
	background : rgba($base-bg, 0.85);
	color      : rgba($base-text, 0.5);
	padding    : 1em 1em 0.5em 0.1em;
	position   : relative;

	span {
	  font-size : 1.8em;
	}
	span.second {
	  @include position(absolute, $t : 0.5em, $r : 0.5em);
	  font-size : 1em;
	}
  }
}

a, button {
  margin          : 0;
  color           : $text-link;
  font-weight     : $font-weight-strong;
  text-decoration : none;
  &, * {
	cursor  : pointer;
	outline : none !important;
  }

  img {
	vertical-align : middle;
	pointer-events : all;
  }

  &[target='_blank']:after {
	font-size      : 0.5em;
	content        : '\f1e6';
	opacity        : 0.75;
	font-family    : Material;
	vertical-align : super;
	margin-left    : 0.1em;
  }

  &:hover {
	color : darken($text-link, 20%);
  }
}

hr {
  margin     : 0.2em 0;
  height     : 2px;
  background : $hr-highlight;
  color      : transparent;
  border   : {
	style  : solid;
	radius : 0.5em;
	width  : 1px 0 0;
	color  : $hr-shadow;
  }
}