/**
 *	UI Framework Route View Components
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

.ui-page
{
    position: relative;

    @include flex-column();
    @include position(absolute, 0, 0, 0, 0);

    > .ui-page-title
    {
        font: 
        {
            size: 1.1em;
            variant: small-caps;
            weight: $font-weight-normal;
        }

        padding: .2em 1em;

        text-align: center;

        color: $page-title-text;
        background-color: $page-title-bg;

        @include flex(0 0 auto);
    }

    .ui-page-body
    {
        @include flex-column();
        @include flex(1 1 0);
    }
}

.ui-section
{
    position: relative;

    overflow: hidden;

    @include flex(1 1 0);

    &.ui-section-row
    {
        @include flex-row($align: stretch, $wrap : false);
    }

    &.ui-section-column
    {
        @include flex-column($align: stretch);
    }
}

.ui-content
{
    position: relative;

    &.ui-auto-fit
    {
        @include flex(0 0 auto);
    }

    &:not(.ui-auto-fit)
    {
        @include flex(1 1 0);
    }

    &:not(.ui-scroll)
    {
        @include flex-column($align: stretch);
    }
}

.ui-sidebar
{
    position: relative;

    overflow: auto;

    color: $sidebar-text;
    background-color: $sidebar-bg;

    @include flex(0 0 auto);

    &:first-child
    {
        @include border(end, 1px solid $base-border-color);
    }
    &:last-child
    {
        @include border(start, 1px solid $base-border-color);
    }
}

.ui-divider
{
    display: block;

    min-width: 1px;
    min-height: 1px;
    margin: .15em;

    border: 
    {
        width: 0 1px 1px 0;

        color: rgba($white, .3);

        style: solid;
    }
    background-color: rgba($black, .3);

    @include flex(0 0 1px);
}

.ui-toolbar
{
    z-index: 2;

    padding: .1em .5em;

    color: $toolbar-text;
    border: 
    {
        width: 1px 0;

        color: $base-border-color;

        style: solid;
    }
    background: $toolbar-bg;

    @include flex(0 0 auto);
    @include flex-row(center, flex-end, true);
    @include box-shadow(0 0 1px 0 $base-shadow-color);
    .ui-button
    {
        @include box-shadow(0 0 2px 0 $base-shadow-color);
    }
    .ui-divider
    {
        height: 1.8em;
    }
}

.ui-statsbar
{
    z-index: 1;

    color: $statsbar-text;
    border: 
    {
        width: 1px 0;

        color: $base-border-color;

        style: solid;
    }
    background: $statsbar-bg;

    @include flex(0 0 auto);
    @include flex-row(stretch, flex-end, true);
    @include box-shadow(0 0 1px 0 $base-shadow-color);

    .ui-stat
    {
        padding: .5em 1.2em;

        text-align: center;

        @include flex(1 1 0);
        @include border(start, 1px solid rgba($white, .3));
        @include border(end, 1px solid rgba($black, .3));
        @include flex-row(center, center, false);
        &:last-child
        {
            @include border(end, none);
        }
        &:first-child
        {
            @include border(start, none);
        }

        span,
        div
        {
            margin: 0 .2em;

            @include flex(0 0 auto);
        }

        span
        {
            font-size: 2.5em;
        }

        h1
        {
            font-weight: bold;
        }
        h6
        {
            text-transform: uppercase;

            color: $statsbar-label;
        }
    }
}
