/**
 *	UI Framework Route View Components
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

.ui-page {
  position : relative;
  @include flex-column();
  @include position(absolute, 0, 0, 0, 0);

  > .ui-page-title {
	font      : {
	  size    : 1.1rem;
	  variant : small-caps;
	  weight  : $font-weight-normal;
	}
	color            : $page-title-text;
	text-align       : center;
	padding          : 0.2em 1em;
	background-color : $page-title-bg;
	@include flex(0 0 auto);
  }

  .ui-page-body {
	@include flex-column();
	@include flex(1 1 0%);
  }
}

.ui-section {
  overflow : hidden;
  position : relative;
  @include flex(1 1 0%);

  &.ui-section-row {
	@include flex-row($align : stretch, $wrap : false);
  }

  &.ui-section-column {
	@include flex-column($align : stretch);
  }
}

.ui-content {
  position : relative;

  &.ui-auto-fit {
	@include flex(0 0 auto);
  }

  &:not(.ui-auto-fit) {
	@include flex(1 1 auto);
  }

  &:not(.ui-scroll) {
	@include flex-row($align : stretch, $wrap : false);
  }
}

.ui-sidebar {
  overflow: auto;
  position: relative;
  @include flex(0 0 auto);
  color: $sidebar-text;
  background-color: $sidebar-bg;

  &:first-child {
	@include border(end, 1px solid $base-border-color);
  }
  &:last-child {
	@include border(start, 1px solid $base-border-color);
  }
}

.ui-divider {
  display: block;
  @include flex(0 0 1px);
  min-height: 1px;
  min-width: 1px;
  margin: 0.15rem;
  background-color: rgba($black, 0.3);
  border: {
	width: 0 1px 1px 0;
	color: rgba($white, 0.3);
	style: solid;
  }
}

.ui-toolbar {
  @include flex(0 0 auto);
  @include flex-row(center, flex-end, true);
  padding: 0.1rem 0.5rem;
  border: {
	width: 1px 0;
	style: solid;
	color: $base-border-color;
  }
  z-index: 2;
  color: $toolbar-text;
  background: $toolbar-bg;
  @include box-shadow(0 0 3px 0 $base-shadow-color);

  .ui-divider {
	height: 1.8rem;
  }
}

.ui-statsbar {
  @include flex(0 0 auto);
  z-index: 1;
  border: {
	width: 1px 0;
	style: solid;
	color: $base-border-color;
  }
  color: $statsbar-text;
  background: $statsbar-bg;
  @include flex-row(stretch, flex-end, true);
  @include box-shadow(0 0 3px 0 $base-shadow-color);

  .ui-stat {
	@include flex(1 1 auto);
	text-align: center;
	padding: 0.5rem 1.2rem;
	@include border(start, 1px solid rgba($white, 0.3));
	@include border(end, 1px solid rgba($black, 0.3));
	&:last-child {
	  @include border(end, none);
	}
	&:first-child {
	  @include border(start, none);
	}

	@include flex-row(center, center, false);

	span, div {
	  @include flex(0 0 auto);
	  margin: 0 0.2rem;
	}

	span {
	  font-size: 2.5rem;
	}

	h1 {
	  font-weight: bold;
	}
	h6 {
	  color: $text-muted;
	  text-transform: uppercase;
	}
  }
}