/**
 *	UI Framework Variables
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

// BASE
$base-border-radius: 0.5rem !default;

$base-font-size: 0.9rem !default;
$base-line-height: 1.1 !default;
$base-font-family-serif: 'Source Code Pro', 'Georgia', 'Times New Roman', serif !default;
$base-font-family-sans-serif: 'Open Sans', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif !default;
$base-font-family: $base-font-family-sans-serif !default;

$base-padding: 0.3rem .8rem !default;

// Z-INDEX
$z-index-splash: 50000 !default;
$z-index-notify: 10000 !default;
$z-index-floating: 500 !default;
$z-index-ribbon: 200 !default;

// TYPOGRAPHY
$font-weight-normal: 400 !default;
$font-weight-strong: 600 !default;
$font-weight-bold: 800 !default;

// GRID SYSTEM
$grid-xs-max: 30em !default; // 0 - 480
$grid-sm-max: 48em !default; // 480 - 768
$grid-md-max: 64em !default; // 768 - 1024
$grid-lg-max: 96em !default; // 1024 - 1536
$grid-xl-max: 128em !default; // 1536 - 2048
// XS below 480px
// XL above 1536px

// INPUTS
$input-font-family: 'Lato', 'Trebuchet MS', Tahoma, san-serif !default;
