/**
 *	UI Framework App Scaffold
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

.ui-viewport {
  @include position(fixed, 0);
  @include flex-column();

  .ui-app-logo {
	height: 3em;
	pointer-events: none;
	background: image_url($app-logo) no-repeat center center;
	background-size: $app-logo-width 3em;
  }

  .ui-app-header {
	@include flex(0 0 auto);
	@include flex-row($wrap: false);
	@include box-shadow(0 0 3px 1px $black-olive);

	z-index: 2;
	min-height: 3em;
	padding: 0.4em;
	color: $app-header-text;
	background: linear-gradient(top, $app-header-bg, shade($app-header-bg, 5%));

	.ui-app-logo {
	  @include flex(0 0 auto);
	  @include margin(end, 0.5em);
	  width: $app-logo-width;
	}

	.ui-app-title {
	  @include flex(1 1 0%);
	  line-height: 1em;
	  font-variant: small-caps;
	  > a {
		font: {
		  size: 2em;
		  weight: $font-weight-strong;
		}
		color: $app-header-text !important;
		span {
		  font-size: 0.5em;
		  color: shade($app-header-text, 15%) !important;
		}
	  }
	}

	.ui-app-menu-handle {
	  @include size(1.2em, 1.2em);
	  @include margin(end, 0.5em);
	  padding: 0;
	  font-size: 2em;
	  color: shade($app-header-text, 10%);
	  &:hover {
		color: $app-header-text;
	  }
	  &:active {
		//@include box-shadow(0 0 3px 1px shade($app-header-bg, 30%) inset);
		color: shade($app-header-bg, 25%);
	  }
	}
  }

  .ui-app-view {
	display: block;
	position: relative;
	@include flex(1 1 0%);
  }

  .ui-app-footer {
	@include flex(0 0 auto);
	@include flex-row($wrap: false);
	padding: 0.1em 1em;
	font-size: 0.75em;
	color: $app-footer-text;
	background: linear-gradient(top, $app-footer-bg, shade($app-footer-bg, 10%));

	span.heart {
	  color: $geranium-lake;
	}
  }

  .ui-app-menu {
	@include position(fixed, 0 null 0 -305px);
	@include transition(left 0.6s ease-out);
	@include box-shadow(0 0 5px 1px #000);

	min-width: 220px;
	max-width: 300px;
	z-index: $z-index-splash+1;
	color: contrast($app-menu-bg);
	background-color: $app-menu-bg;
	@if ($app-menu-bg-image) {
	  background-image: image_url($app-menu-bg-image);
	}
	.ui-menu-link {
	  font-size: 1.2rem;
	  color: contrast($app-menu-bg);
	}
	.ui-menu-link.ui-active {
	  color: $app-menu-active-text;
	  background: $app-menu-active-bg;
	  border-color: $app-menu-active-border;
	  @include box-shadow(0 0 4px 0 #333 inset);
	}
  }

  .ui-app-menu-shim {
	@include position(fixed, 0);
	@include backdrop-blur(1px);
	@include transition(opacity 0.3s);

	opacity: 0;
	display: none;
	background-color: rgba($app-menu-shim, 0.5);
	z-index: $z-index-splash;
  }

  &.show-menu {
	.ui-app-menu {
	  left: 0;
	}
	.ui-app-menu-shim {
	  display: block;
	  opacity: 1;
	}
  }
}