/**
 *	UI Viewport
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

.ui-viewport {
  @include flex-column();
  @include position(absolute, 0, 0, 0, 0);

  .ui-app-header {
	color      : $app-header-text;
	background : $app-header-bg;
	z-index    : 2;

	@include flex-row($justify : flex-end);
	@include flex(0 0 auto);
	@include box-shadow(0 0 5px 0 $base-shadow-color);

	.ui-app-title {
	  @include flex(1 0 auto);
	  font-size    : $app-header-font-size;
	  font-variant : small-caps;
	  a {
		color : $app-header-text;
	  }
	  small {
		display : block;
		color   : $text-muted;
	  }
	}

	.ui-app-logo {
	  @include flex(0 0 auto);
	  height : 2em;
	}

	.ui-app-menu-handle {
	  @include margin(end, 0.5em);
	  padding     : 0;
	  line-height : 0;
	  font-size   : 1.5em;
	  width       : 1.5em;
	  color       : $app-header-text;
	}

	.ui-app-header-options {
	  @include flex(0 0 auto);
	  padding : 0 0.5em;
	}
  }

  .ui-app-footer {
	@include flex(0 0 auto);
	color      : $app-footer-text;
	background : $app-footer-bg;
	padding    : $base-padding;
	.heart {
	  color : $cadmium-red;
	}
	@include flex-row($justify : space-between);
	small {
	  @include flex(0 0 auto);
	  font-size : $app-footer-font-size;
	}
  }

  .ui-viewport-body {
	z-index  : 1;
	position : relative;
	@include flex(1 1 0%);
  }

  .ui-app-menu {
	@include position(fixed, $l : -20em, $t : 0, $b : 0);
	@include transition(left 0.6s ease-out);
	@include box-shadow(0 0 5px 1px #000);

	min-width        : 15em;
	max-width        : 20em;
	z-index          : $z-index-splash+1;
	color            : $app-menu-text;
	background-color : $app-menu-bg;
	@if ($app-menu-bg-image) {
	  background-image : image_url($app-menu-bg-image);
	}

	.ui-auth-info {
	  top           : 0;
	  margin-bottom : 0.5em;
	  background    : rgba(#333, 0.95);
	  @include sticky();
	  @include box-shadow(-3px 0 3px 1px #111);
	  @include backdrop-blur(9px);
	}

	.ui-menu-link {
	  font-size : $app-menu-font-size;
	  color     : $app-menu-text;
	  @include border(start, 3px solid transparent);

	  &:hover {
		color      : $app-menu-hover-text;
		background : $app-menu-hover-bg;
	  }
	  &.ui-active {
		color        : $app-menu-active-text;
		background   : $app-menu-active-bg;
		border-color : $app-menu-active-border;
		@include box-shadow(0 0 4px 0 #333 inset);
	  }
	}

	hr {
	  background-color : $wg-7;
	  border-color     : $black-sp;
	}
  }

  .ui-app-menu-shim {
	@include position(fixed, 0, 0, 0, 0);
	@include backdrop-blur(1px);
	@include transition(opacity 0.3s);

	opacity          : 0;
	display          : none;
	background-color : rgba($app-menu-shim, 0.5);
	z-index          : $z-index-splash;
  }

  &.show-menu {
	.ui-app-menu {
	  left : 0;
	}
	.ui-app-menu-shim {
	  display : block;
	  opacity : 1;
	}
  }

  .ui-overlay-container {
	@include position(absolute, 0, 0, 0, 0);
	@include flex-column(flex-end, flex-start);
	overflow       : hidden;
	z-index        : $z-index-floating;
	pointer-events : none;
	padding        : 5em 0 1.5em;
  }
}

[dir='rtl'] {
  .ui-viewport .ui-app-menu {
	left  : auto;
	right : -305px;
	@include transition-property(right);
  }

  .ui-viewport.show-menu {
	.ui-app-menu {
	  right : 0;
	}
  }
}