/**
 *	UI DataGrid
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

.ui-datagrid {
  position : relative;
  display  : block;
  width    : 100%;
  height   : 100%;
  @include flex(1 1 0);

  .ui-ghost {
	z-index : 20;
	@include position(absolute);

	&.resize {
	  width      : 2px;
	  top        : 0;
	  bottom     : 0;
	  background : $base-border-color;
	}

	&.drag {
	  left       : 0;
	  right      : 0;
	  border     : 1px dotted $primary;
	  background : rgba($base-border-color, 0.1);
	}
  }
  .ui-indicator {
	height     : 0.1em;
	display    : none;
	background : $primary;
	@include position(absolute);
  }

  .ui-datagrid-wrapper {
	@include position(absolute, 0, 0, 0, 0);
	overflow : auto;

	> table > thead, > table > tfoot {
	  @include sticky();
	  z-index : 20;
	}

	> table {
	  min-width    : 100%;
	  min-height   : 100%;
	  table-layout : fixed;

	  > thead {
		top : 0;
	  }
	  > tfoot {
		bottom : -1px;
	  }
	  > tbody {
		overflow : auto;
		z-index  : 10;

		tr:nth-of-type(odd) > td {
		  background-color : $datagrid-odd-bg;
		}
		tr:nth-of-type(even) > td {
		  background-color : $datagrid-even-row;
		}
		tr:last-child {
		  height      : 100%;
		  line-height : 0.1;
		  > td, > td > div {
			padding : 0;
			height  : 100%;
		  }
		}

		tr.ui-ghost {
		  visibility : hidden;
		}
	  }

	  colgroup > col:not(:last-child) {
	  }

	  td {
		> div {
		  color          : $datagrid-text;
		  vertical-align : middle;
		  line-height    : 1.5;
		  padding        : 0.35em 0.5em;
		  border-right   : 1px solid rgba($base-border-color, 0.2);
		  @include text-truncate();

		  &.ui-button-bar {
			padding : 0.1em;

			.fi-ui-view:before {
			  content : $datagrid-button-view;
			}
			.fi-ui-edit:before {
			  content : $datagrid-button-edit;
			}
			.fi-ui-delete:before {
			  content : $datagrid-button-delete;
			}
		  }

		  a {
			font-weight : $font-weight-normal;
		  }
		}
	  }

	  td.sticky {
		@include sticky();
		left    : 0;
		z-index : 10;

		&.last-of-type > div {
		  border-right : 1px solid $base-border-color !important;
		}
	  }

	  thead td {
		> div {
		  padding       : 0;
		  background    : $datagrid-header-bg;
		  border-bottom : 1px solid $base-border-color;
		  @include flex-row(stretch);

		  > span:first-child {
			padding : 0.3em 0.5em;
			@include flex(1 1 0);
			&.sortable {
			  position      : relative;
			  cursor        : pointer;
			  padding-right : 1.2em;
			  &:hover {
				background-color : $datagrid-header-hover-bg;
			  }

			  &:before {
				content     : $font-ui-sort-asc;
				font-family : Framework;
				display     : block;
				width       : 1em;
				font-weight : $font-weight-normal;
				color       : rgba($datagrid-indicator-color, .3);
				@include position(absolute, $t : 0, $r : 0);
			  }
			  &:after {
				width       : 1em;
				content     : $font-ui-sort-desc;
				font-family : Framework;
				display     : block;
				font-weight : $font-weight-normal;
				color       : rgba($datagrid-indicator-color, .3);
				@include position(absolute, $b : 0, $r : 0);
			  }

			  &.asc:before {
				color : $datagrid-indicator-color;
			  }

			  &.desc:after {
				color : $datagrid-indicator-color;
			  }
			}
		  }
		  > span.resizer {
			margin-left : 4px;
			@include flex(0 0 1px);

			&.enable {
			  cursor       : ew-resize;
			  border-left  : 1px solid $base-border-color;
			  border-right : 1px solid lighten($base-border-color, 30%);
			}
		  }
		}

		tr:hover:not(.active) > td > div {
		  background-color : $datagrid-hover-bg;
		  @include transition(background 0.2s linear 0.5s);
		}

		tr.active > td > div {
		  @include transition(background 0.05s linear 0s);
		  background-color : $datagrid-active-bg;
		}
	  }
	  tfoot td {
		> div {
		  background : $datagrid-footer-bg;
		  border-top : 1px solid $base-border-color;
		}
	  }
	}
  }
}

.ui-pager {
  font-size : 0.9em;

  .ui-page-input {
	padding    : 0;
	border     : none !important;
	box-shadow : 0 0 1px 0 $base-shadow-color !important;
	@include padding(end, 0.25em);

	.ui-input {
	  padding     : 0.1em 0.3em;
	  line-height : 1.5;
	  min-height  : 1px;
	}
  }

  .fi-ui-pager-first:before {
	content : $pager-first-glyph;
  }
  .fi-ui-pager-prev:before {
	content : $pager-prev-glyph;
  }
  .fi-ui-pager-next:before {
	content : $pager-next-glyph;
  }
  .fi-ui-pager-last:before {
	content : $pager-last-glyph;
  }
}
