<template class="ui-tree-panel">

	<require from="./ui-tree-node"></require>

	<!--<div class="ui-search">-->
	<!--<input class="ui-input" placeholder="Search..." value.bind="searchText & debounce"/>-->
	<!--</div>-->
	<div class="ui-search">
		<ui-input type="search" nolabel placeholder="Search..." clear value.bind="searchText & debounce"></ui-input>
	</div>

	<div class="ui-tree-level">

		<tree-node repeat.for="child of rootNodes | sort:'name'"
				   node.bind="child"
				   options.bind="$parent.options"></tree-node>

	</div>

</template>