@font-face {
	font-family: "Editor";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="fi-editor-"]:before, [class*=" fi-editor-"]:before,
[class^="fi-editor-"]:after, [class*=" fi-editor-"]:after {   
	font-family: Editor;
	font-size: 1em;
}.fi-editor-anchor16:before {
	content: "\e000";
}
.fi-editor-black399:before {
	content: "\e001";
}
.fi-editor-blank32:before {
	content: "\e002";
}
.fi-editor-bold14:before {
	content: "\e003";
}
.fi-editor-button11:before {
	content: "\e004";
}
.fi-editor-check51:before {
	content: "\e005";
}
.fi-editor-check52:before {
	content: "\e006";
}
.fi-editor-circle107:before {
	content: "\e007";
}
.fi-editor-close47:before {
	content: "\e008";
}
.fi-editor-italicize:before {
	content: "\e009";
}
.fi-editor-link15:before {
	content: "\e00a";
}
.fi-editor-list29:before {
	content: "\e00b";
}
.fi-editor-list30:before {
	content: "\e00c";
}
.fi-editor-minus18:before {
	content: "\e00d";
}
.fi-editor-numbered4:before {
	content: "\e00e";
}
.fi-editor-picture13:before {
	content: "\e00f";
}
.fi-editor-question22:before {
	content: "\e010";
}
.fi-editor-question23:before {
	content: "\e011";
}
.fi-editor-quote2:before {
	content: "\e012";
}
.fi-editor-radio51:before {
	content: "\e013";
}
.fi-editor-search19:before {
	content: "\e014";
}
.fi-editor-strikethrough1:before {
	content: "\e015";
}
.fi-editor-tick7:before {
	content: "\e016";
}
