/**
 *	UI Button
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

@mixin button-style($pre, $bg, $text) {
  &.ui-button-#{$pre} {
	background   : $bg;
	color        : $text;
	border-color : darken($bg, 5%);
  }
}

.ui-button-control {
  display : inline-block;
}

.ui-button {
  text-align    : center;
  display       : inline-block;
  margin        : 0.2rem;
  font-size     : 1.1rem;
  font-weight   : $font-weight-normal;
  padding       : $base-padding;
  border-radius : $base-border-radius;
  border        : 1px solid darken($secondary, 5%);
  @include box-shadow(2px 2px 4px 0 $base-shadow-color);

  &.ui-button-large {
	font-size : 1.4rem;
  }
  &.ui-button-small {
	font-size : 0.9rem;
	padding   : 0.2rem;
  }

  &.ui-button-round {
	border-radius : 1em;
  }

  &.ui-icon-top > span {
	display    : block;
	text-align : center;
	width      : 100%;
	margin     : 0.2rem 0;
  }

  &:not([disabled]):hover, &:not([disabled]):focus {
	@include box-shadow(0 2px 2px 0 rgba($white, 0.6) inset,
			0 -2px 2px 0 rgba($white, 0.6) inset,
			2px 2px 4px 0 $base-shadow-color);
  }
  &:not([disabled]):active {
	@include box-shadow(0 2px 2px 0 rgba($black, 0.4) inset,
			0 -2px 2px 0 rgba($black, 0.4) inset,
			2px 2px 4px 0 $base-shadow-color);
  }

  &[disabled] {
	opacity : 0.5;
	&, > span {
	  cursor : not-allowed;
	}
  }

  span {
	vertical-align : baseline;
	margin         : 0 0.2em;
  }

  @include button-style(default, $button-default-bg, $button-default-text);
  @include button-style(primary, $button-primary-bg, $button-primary-text);
  @include button-style(info, $button-info-bg, $button-info-text);
  @include button-style(danger, $button-danger-bg, $button-danger-text);
  @include button-style(success, $button-success-bg, $button-success-text);
  @include button-style(warning, $button-warning-bg, $button-warning-text);
}