/**
 *	UI Date Input
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

.ui-date-control:not(.floating) {
  display    : block;
  text-align : center;
  .ui-date-view {
	display : inline-block;
	margin  : 0 auto;
  }
}

.ui-date-addon {
  position : relative;
  span.date {
	position   : absolute;
	font-size  : 8px;
	bottom     : 7px;
	left       : 0.5em;
	right      : 0.5em;
	text-align : center;
  }
}

.ui-date-control.floating {
  .ui-date-view {
	position   : absolute;
	margin-top : 5px;
	z-index    : 50;
	@include box-shadow(0 2px 4px 0 $base-shadow-color);

	&:before {
	  content       : ' ';
	  position      : absolute;
	  left          : 10px;
	  top           : -10px;
	  border-bottom : 10px solid $base-border-color;
	  border-left   : 10px solid transparent;
	  border-right  : 10px solid transparent;
	}

	&:after {
	  content       : ' ';
	  position      : absolute;
	  left          : 11px;
	  top           : -9px;
	  border-bottom : 9px solid $base-bg;
	  border-left   : 9px solid transparent;
	  border-right  : 9px solid transparent;
	}
  }
}

.ui-date-view {
  background    : $base-bg;
  border-radius : $base-border-radius;
  border        : 1px solid $base-border-color;

  &, .ui-date-wrapper > div > div {
	@include flex-row(stretch, $wrap : false);
  }

  .ui-date-wrapper {
	position : relative;
	@include flex(0 0 auto);

	span {
	  @include flex(0 0 auto);
	  padding    : 0.45em 0.4em;
	  text-align : center;
	  position   : relative;
	}

	span.week {
	  color       : $date-week;
	  font-weight : $font-weight-strong;
	}

	.header {
	  span {
		font-weight   : 600;
		cursor        : pointer;
		width         : 2.5em;
		margin        : 0.1em 0.2em;
		height        : auto;
		color         : $date-control-text;
		border-radius : $base-border-radius;
		&:not(.nohover):not(.disabled):hover {
		  color      : $date-control-hover-text;
		  background : $date-control-hover-bg;
		}
		&:not(.nohover):not(.disabled):active {
		  background : shade($date-control-hover-bg, 10%);
		}

		&.fi-ui-calendar.prev:before {
		  content : $date-prev;
		}
		&.fi-ui-calendar.next:before {
		  content : $date-next;
		}
	  }
	  span.disabled {
		cursor : not-allowed;
		color  : $date-disabled !important;
	  }
	  .label {
		@include flex(1 1 0%);
		font-variant : small-caps;
	  }
	}

	.weekdays {
	  background : $date-weekday-bg;
	  span {
		width       : 2.5em;
		color       : $date-weekday-text;
		font-weight : $font-weight-strong;
		border      : 1px solid shade($date-weekday-bg, 5%);
	  }
	}

	.footer {
	  font-weight : 600;
	  span {
		@include flex(1 1 0%);
		margin        : 0.25em 0.4em;
		border-radius : $base-border-radius;
		color         : $date-control-text;
		font-weight   : 600;
		cursor        : pointer;
		&:hover {
		  color      : $date-control-hover-text;
		  background : $date-control-hover-bg;
		}
		&:active {
		  background : shade($date-control-hover-bg, 10%);
		}
	  }
	}

	.dates, .months, .years {
	  span {
		cursor        : pointer;
		border-radius : $base-border-radius;
	  }
	  span:not(.week):not(.disabled):not(.selected):hover {
		color      : $date-selected-text;
		background : rgba($date-selected-bg, 0.7);
	  }

	  span.active {
		color  : $date-active;
		cursor : pointer;
	  }
	  span.muted {
		color  : $date-muted;
		cursor : pointer;
	  }
	  span.selected {
		color       : $date-selected-text;
		background  : $date-selected-bg;
		font-weight : $font-weight-strong;
		&.today:after {
		  border-color : $date-selected-text transparent transparent $date-selected-text;
		}
	  }
	  span.disabled {
		cursor : not-allowed;
		color  : $date-disabled !important;
	  }
	}
	.dates {
	  span {
		width : 2.5em;
	  }
	  span.today:after {
		content : ' ';
		border  : {
		  width : 0.3em;
		  style : solid;
		  color : $date-selected-bg transparent transparent $date-selected-bg;
		}
		@include size(0.3em, 0.3em);
		@include position(absolute, $t : 1px, $l : 1px);
	  }
	}
	.months {
	  span {
		@include flex(1 1 0%);
		margin      : 0.1em 0.2em;
		line-height : 300%;
	  }
	}
	.years {
	  span {
		@include flex(1 1 0%);
		margin      : 0.1em 0.2em;
		line-height : 200%;
	  }
	}

	.alt-view {
	  @include position(absolute, 0, 0, 0, 0);
	  @include flex-column(stretch, space-between);

	  .years, .months {
		@include flex(1 1 0%);
		span {
		  @include align-self(stretch);
		}
	  }
	}
  }
}
