/**
 *	UI Option
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

.ui-option {
  min-height: 26px;
  text-align: center;
  position: relative;
  padding: 3px !important;
  border: 1px solid transparent;
  @include flexbox((
		  display: inline-flex,
		  flex-direction:row,
		  flex-wrap:nowrap,
		  align-items:center
  ));

  &.ui-addon {
	width: 26px;
  }

  > .ui-option-input {
	@include position(absolute, null);
	@include size(18px, 18px);
	cursor: pointer;
	opacity: 0;
	margin: 0;
	z-index: 2;
  }
  > .ui-check-mark {
	@include flex(0 0 auto);
	@include size(18px, 18px);
	z-index: 1;
	cursor: pointer;
	border-radius: 3px;
	color: $input-option-color;
	background-color: $input-bg;
	@include box-shadow(-1px -1px 1px 0 $base-shadow-color, 1px 1px 1px 0 contrast($input-option-color));

	&:after {
	  line-height: 18px;
	  text-align: left;
	  position: relative;
	  font: {
		weight: 100;
		size: 18px;
		family: Material;
	  }
	}
  }

  &.ui-checkbox .ui-check-mark {
	&:after {
	  content: '\f11b';
	}
  }
  &.ui-radio .ui-check-mark {
	&:after {
	  content: '\f145';
	}
	border-radius: 9px;
  }
  &.ui-checkbox .ui-option-input:checked ~ .ui-check-mark:after {
	content: '\f117';
  }
  &.ui-radio .ui-option-input:checked ~ .ui-check-mark:after {
	content: '\f20d';
  }

  .ui-option-label {
	padding: 0.15rem 0;
	@include flex(0 0 auto);
	@include padding(end, 0.5rem);
	@include padding(start, 0.2rem);
  }

  .ui-option-input:focus:not(:disabled) ~ .ui-check-mark,
  .ui-option-input:hover:not(:disabled) ~ .ui-check-mark {
	color: $input-option-color-focus;
	border-color: $input-option-color-focus;
	@include box-shadow(-1px -1px 1px 0 $base-shadow-color, 0 0 3px 1px $input-focus-color);
  }
  .ui-option-input:disabled {
	cursor: not-allowed;
	~ .ui-check-mark {
	  color: $input-option-color-disabled;
	  border-color: $input-border;
	}
	~ .ui-option-label {
	  cursor: not-allowed;
	  color: $input-option-color-disabled;
	}
  }
}

.ui-option-group {
  @include flex-row(flex-start);
  .ui-option {
	@include flex(0 0 150px);
	.ui-label {
	  display: block;
	  @include ellipsis();
	}
  }
  .ui-switch-control {
	@include flex(0 0 150px);
  }
}