/**
 *	UI Switch
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

.ui-switch-control {
  white-space : nowrap;
  margin      : 0.2rem;
  display     : inline-block;

  .ui-switch {
	direction          : ltr !important;
	position           : relative;
	display            : inline-block;
	vertical-align     : top;
	width              : 4rem;
	height             : 1.6rem;
	padding            : 0.1rem;
	background-color   : $base-bg;
	border-radius      : 1rem;
	box-shadow         : 0 0 1px 1px if(brightness($base-bg)>50, $ng-2, $ng-8), inset 0 1px 5px rgba($black, 0.05);
	cursor             : pointer;
	-webkit-box-sizing : content-box;
	-moz-box-sizing    : content-box;
	box-sizing         : content-box;

	&.ui-focus {
	  box-shadow : 0 0 3px 0 $input-focus-border, 0 0 8px 1px $input-focus-border inset;
	}

	.ui-switch-input {
	  @include position(absolute, 0, 0, 0, 0);
	  opacity : 0
	}

	.ui-switch-label {
	  position         : relative;
	  display          : block;
	  height           : inherit;
	  font-size        : 0.8rem;
	  text-transform   : uppercase;
	  cursor           : pointer;
	  background-color : $input-bg;
	  border-radius    : inherit;
	  box-shadow       : inset 0 1px 2px rgba($black, 0.5), inset 0 0 4px rgba($black, 0.5);
	  @include transition(opacity .25s ease-out, background .25s ease-out)
	}

	.ui-switch-label:before, .ui-switch-label:after {
	  position   : absolute;
	  top        : 50%;
	  margin-top : -0.5em;
	  @include transition(inherit);
	}

	.ui-switch-label:before {
	  content     : attr(data-off);
	  right       : 0.6rem;
	  color       : $input-text;
	  text-shadow : 0 1px rgba($white, 0.5)
	}

	.ui-switch-label:after {
	  content     : attr(data-on);
	  left        : 0.6rem;
	  color       : white;
	  text-shadow : 0 1px rgba($black, 0.2);
	  opacity     : 0
	}

	.ui-switch-input:checked ~ .ui-switch-label {
	  background-color : $ng-5;
	}

	.ui-switch-input:checked ~ .ui-switch-label:before {
	  opacity : 0
	}

	.ui-switch-input:checked ~ .ui-switch-label:after {
	  opacity : 1
	}

	.ui-switch-input:disabled {
	  ~ .ui-switch-handle, ~ .ui-switch-label {
		opacity : 0.5;
		cursor  : not-allowed;
	  }
	}

	.ui-switch-handle {
	  cursor        : pointer;
	  width         : 1.5rem;
	  height        : 1.5rem;
	  background    : white linear-gradient(top, $white-sp, $white);
	  border-radius : 1rem;
	  margin-top    : -0.75rem;
	  box-shadow    : 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
	  @include transition(all .25s ease-out);
	  @include position(absolute, $t : 50%, $l : 0.2rem);
	}

	.ui-switch-input:checked ~ .ui-switch-handle {
	  left        : 100%;
	  margin-left : -1.7rem;
	  box-shadow  : -1px 1px 2px 1px rgba($black, 0.4)
	}

	&.ui-switch-primary > .ui-switch-input:checked ~ .ui-switch-label {
	  background-color : $primary;
	}

	&.ui-switch-success > .ui-switch-input:checked ~ .ui-switch-label {
	  background-color : $success;
	}

	&.ui-switch-warning > .ui-switch-input:checked ~ .ui-switch-label {
	  background-color : $warning;
	}

	&.ui-switch-info > .ui-switch-input:checked ~ .ui-switch-label {
	  background-color : $info;
	}

	&.ui-switch-danger > .ui-switch-input:checked ~ .ui-switch-label {
	  background-color : $danger;
	}

	&.ui-switch.ui-switch-gender {
	  width : 5.5rem;

	  > .ui-switch-input {
		~ .ui-switch-label {
		  background-color : $tahiti-blue;
		  &:before {
			color       : $black;
			content     : 'Male';
			text-shadow : 0 1px rgba($white, 0.2);
		  }

		  &:after {
			content : 'Female';
		  }
		}

		&:checked {
		  ~ .ui-switch-label {
			background-color : $cerise;
		  }
		}
	  }
	}

	&.ui-switch.ui-switch-ampm {

	  > .ui-switch-input {
		~ .ui-switch-label {
		  background-color : $golden-yellow;
		  &:before {
			color   : $black;
			content : 'AM';
		  }

		  &:after {
			color   : $white;
			content : 'PM';
		  }
		}

		&:checked ~ .ui-switch-label {
		  background-color : $wg-9;
		}
	  }
	}
  }

  .ui-switch ~ label {
	position       : relative;
	display        : inline !important;
	vertical-align : middle;
	cursor         : pointer;
	top            : 0.4rem;
	margin         : 0 0.2rem;

	&[disabled] {
	  opacity : 0.5;
	  cursor  : not-allowed;
	}
  }
}
