<template>
	<div class="ui-input-group" ref="_chosen" ref-id="${id}">

		<label class="ui-label ${_labelClasses}" innerhtml.bind="label"></label>

		<div class="ui-form-control ui-chosen">
			<div class="ui-addon" if.bind="addonClass || addonIcon || addonText">
				<span class="${addonIcon} ${addonClass}" if.bind="addonClass || addonIcon"></span>
				<span if.bind="addonText">${addonText}</span>
			</div>
			<div class="ui-addon ui-option ui-checkbox" if.bind="_checkbox">
				<input class="ui-option-input" type="checkbox" checked.bind="checked"/>
				<span class="ui-check-mark"></span>
			</div>
			<div ref="_options">
				<content></content>
			</div>
			<select ref="_select" class="ui-input ${_inputClasses} ui-primary"
					placeholder="${placeholder}" value.bind="_value" style="width: 100%">
				<option value=""></option>
			</select>

			<button if.bind="buttonText || buttonIcon" class="ui-button ui-button-default"
					click.trigger="_buttonClick($event)">
				<span class="${buttonIcon}" if.bind="buttonIcon"></span>${buttonText}
			</button>
		</div>
	</div>
</template>