<template class="ui-input-group" ref-id="${id}">

	<label class="ui-label ${_labelClasses}" show.bind="!_noLabel" for.bind="_id">
		<content></content>
	</label>

	<div class="ui-form-control ui-date" ref="_date">
		<div class="ui-addon">
			<span class="ui-icon fi-elegant-little4" data-date="${dt}"></span>
		</div>
		<div class="ui-addon ui-option ui-checkbox" if.bind="_checkbox">
			<input class="ui-option-input" type="checkbox" checked.bind="checked"/>
			<span class="ui-check-mark"></span>
		</div>
		<input ref="_inputStart" class="ui-input ${_inputClasses} ui-primary"
			   readonly placeholder="${placeholder}" value.bind="_valueStart" id.bind="_id"/>

		<div if.bind="range" class="ui-addon ui-align-center"><span class="ui-small-caps">to</span></div>
		<input if.bind="range" ref="_inputEnd" class="ui-input ${_inputClasses} ui-secondary"
			   readonly placeholder="${placeholder}" value.bind="_valueEnd"/>

		<button type="button" if.bind="(buttonText || buttonIcon)" class="ui-button ui-button-default"
				click.trigger="_buttonClick($event)">
			<span class="${buttonIcon}" if.bind="buttonIcon"></span>${buttonText}
		</button>
	</div>
	<div ref="_inputInline" class="ui-date ui-date-container"></div>
</template>