<template>
	<div class="ui-input-group" ref="inputGroup" ref-id="${id}">

		<label class="ui-label ${labelClasses}">
			<content></content>
		</label>

		<div class="ui-form-control">
			<div class="ui-addon" if.bind="addonIcon || addonText">
				<span class="${addonIcon}" if.bind="addonIcon"></span>
				<span if.bind="addonText">${addonText}</span>
			</div>
			<div class="ui-addon ui-option ui-checkbox" if.bind="checkbox">
				<input class="ui-option-input" type="checkbox" checked.bind="checked"/>
				<span class="ui-check-mark"></span>
			</div>
			<input class="ui-input ${inputClasses} ui-primary" placeholder="${placeholder1}" value.bind="value1"
				   size="1" if.bind="!area"/>
			<input class="ui-input ${inputClasses} ui-secondary" placeholder="${placeholder2}" value.bind="value2"
				   size="1" if.bind="!area && double"/>

			<textarea class="ui-input ${inputClasses} ui-primary" placeholder="${placeholder1}" value.bind="value1"
				   cols="10" rows="5" if.bind="area"></textarea>

			<button if.bind="buttonText || buttonIcon" class="ui-button ui-button-default">
				<span class="${buttonIcon}" if.bind="buttonIcon"></span>${buttonText}
			</button>
		</div>
	</div>
</template>