<template>
	<div class="ui-content ui-row ui-center ui-middle" ref="_form">
		<div class="ui-temp ui-hide">
			<content></content>
		</div>
		<ui-form submit.trigger="doLogin()" busy.bind="busy" class="ui-form ui-login pad-all" validate.bind="model.validation">
			<div class="ui-col-fill pad-all">
				<div class="ui-login-content"></div>
				<hr/>

				<p class="ui-bg-danger ui-align-center" if.bind="error">${error}</p>

				<ui-input clear label-top label="Username" email value.bind="model.username" validate="username"
						  placeholder="user@clubhotel.com">Username</ui-input>
				<ui-input clear label-top password value.bind="model.password" validate="password"
						  placeholder="password">Password</ui-input>

				<ui-option-group label="" label-top>
					<ui-option checkbox value.bind="model.remember">Login Automatically</ui-option>
				</ui-option-group>

				<div class="ui-row ui-end">
					<ui-button primary click.trigger="doLogin()">Login</ui-button>
				</div>
				<br/>
				<hr/>
				<p class="ui-font-small ui-align-center ui-text-muted">This app is designed to run on desktop and
					tablets</p>

				<p class="ui-font-small ui-align-center ui-text-muted">Version 1.0.0</p>
			</div>
		</ui-form>
	</div>
</template>