<template class="ui-input-group ui-list ${_classes}" ref="_list" ref-id="${id}">

	<label class="ui-label ${_labelClasses}" innerhtml.bind="label" show.bind="!_noLabel" for.bind="_id"></label>

	<div class="ui-control-wrapper">
		<div class="ui-form-control ${focus?'ui-focus':''}">
			<div class="ui-addon" if.bind="addonClass || addonIcon || addonText">
				<span class="${addonIcon} ${addonClass}" if.bind="addonClass || addonIcon"></span>
				<span if.bind="addonText">${addonText}</span>
			</div>
			<div class="ui-addon ui-option ui-checkbox" if.bind="_checkbox">
				<input class="ui-option-input" type="checkbox" checked.bind="checked"
					   focus.trigger="focus=true" blur.trigger="focus=false"/>
				<span class="ui-check-mark"></span>
			</div>
			<div ref="_options">
				<content></content>
			</div>
			<select id.bind="_id" ref="_input" value.bind="value" size="2" class="ui-list-input"
					focus.trigger="focus=true" blur.trigger="focus=false"
					maxlength="0" change.trigger="_changeSelection($event)">
				<option value="${opt.id!==null&&opt.id!==undefined?opt.id:opt}" model.bind="opt"
						repeat.for="opt of options">${opt.name || opt.text || opt}
				</option>
			</select>
			<ul size="5" ref="_select" class="ui-input ui-list-container ${_inputClasses}"
				click.delegate="_changeSelection($event)">
			</ul>

			<button type="button" if.bind="buttonText || buttonIcon" class="ui-button ui-button-default"
					click.trigger="_buttonClick($event)">
				<span class="${buttonIcon}" if.bind="buttonIcon"></span>${buttonText}
			</button>
		</div>
		<div class="ui-control-help" if.bind="helpText" innerhtml.bind="helpText"></div>
	</div>
</template>