<template class="ui-input-group ui-list ${_classes}" ref="_langSelect" ref-id="${id}">

	<label class="ui-label ${_labelClasses}" show.bind="!_noLabel" for.bind="_id">
		<content></content>
	</label>

	<a class="pad-all ui-button ${_current ? '' : 'ui-text-muted'}" ref="_selector"
	   click.trigger="openList()" style="width: 200px">
		${_current ? _current.name : '--Choose a Language--'}&nbsp;&nbsp;
		<span class="fi-elegant-little9 ui-text-muted" style="float: right;margin-top: 5px;"></span>
	</a>
	<ul class="ui-menu ui-floating" ref="_menu">
		<p class="ui-menu-section ui-text-muted">Added</p>
		<li repeat.for="lang of _selected" class="ui-row">
			<a class="ui-col-fill ui-menu-link" click.trigger="selectLanguage(lang)">${lang.name}</a>
			<a class="pad-all ui-col-auto" click.trigger="removeLanguage(lang)"><span
					class="fi-elegant-minus11 ui-text-danger"></span></a>
		</li>
		<li if.bind="_selected.length==0"><p class="pad-all ui-text-muted">No Languages Added</p></li>
		<hr/>
		<p class="ui-menu-section ui-text-muted">Available</p>
		<li repeat.for="lang of _languages | sort:'id'">
			<a class="ui-menu-link" click.trigger="addLanguage(lang)">
				${lang.name}<span style="float:right" class="fi-bigmug-line-add149 ui-text-info"></span></a>
		</li>
	</ul>
</template>