<template>
	<div class="ui-input-group" ref="_markdown" ref-id="${id}">

		<label class="ui-label ${_labelClasses}">
			<content></content>
		</label>

		<div class="ui-form-control">
			<div class="ui-addon" if.bind="addonIcon || addonText">
				<span class="${addonIcon} ${addonClass}" if.bind="addonIcon"></span>
				<span if.bind="addonText">${addonText}</span>
			</div>

			<textarea class="ui-input ${_inputClasses} ui-primary" placeholder="${placeholder}" value.bind="value"
					  cols="10" rows="15"></textarea>

			<div class="ui-button-group ui-vertical" click.delegate="_toolClick($event)">
				<button data-id="h1" class="ui-button ui-button-small ui-button-secondary"><b>H1</b></button>
				<button data-id="h2" class="ui-button ui-button-small ui-button-secondary"><b>H2</b></button>
				<button data-id="h3" class="ui-button ui-button-small ui-button-secondary"><b>H3</b></button>
				<button data-id="h4" class="ui-button ui-button-small ui-button-secondary"><b>H4</b></button>
				<button data-id="h5" class="ui-button ui-button-small ui-button-secondary"><b>H5</b></button>
				<button data-id="h6" class="ui-button ui-button-small ui-button-secondary"><b>H6</b></button>
				<button data-id="b" class="ui-button ui-button-small ui-button-secondary" title="Bold"><span
						class="fi-editor-bold14"></span></button>
				<button data-id="i" class="ui-button ui-button-small ui-button-secondary" title="Italic"><span
						class="fi-editor-italicize"></span></button>
				<button data-id="s" class="ui-button ui-button-small ui-button-secondary" title="Strikethrough"><span
						class="fi-editor-strikethrough1"></span></button>
				<button data-id="a" class="ui-button ui-button-small ui-button-secondary" title="Link"><span
						class="fi-editor-anchor16"></span></button>
				<button data-id="img" class="ui-button ui-button-small ui-button-secondary" title="Image"><span
						class="fi-editor-picture13"></span></button>
				<button data-id="ul" class="ui-button ui-button-small ui-button-secondary" title="Bullet List"><span
						class="fi-editor-list29"></span></button>
				<button data-id="ol" class="ui-button ui-button-small ui-button-secondary" title="Numbered List"><span
						class="fi-editor-numbered4"></span></button>
				<button data-id="table" class="ui-button ui-button-small ui-button-secondary" title="Table"><span
						class="fi-editor-list30"></span></button>
				<button data-id="preview" class="ui-button ui-button-small ui-button-primary" title="Preview"><span
						class="fi-editor-search19"></span></button>
			</div>

			<div class="ui-markdown ui-markdown-preview ui-hide">
				<span innerhtml.bind="value | markdown"></span>
				<button class="ui-close" click.trigger="_togglePreview()"><span class="fi-elegant-close11"></span></button>
			</div>
		</div>
	</div>
</template>