<template class="ui-tree-item">

	<div class="ui-tree-item-link" if.bind="node.isvisible">
		<a class="ui-expander ${node.expanded?'expanded':''}"
		   if.bind="!node.leaf"
		   click.trigger="node.expanded=!node.expanded">
			<span class="${node.expanded?'fi-elegant-minus6':'fi-elegant-little10'}"></span>
		</a>

		<a class="ui-node-checkbox ${node.checked<1?'off':''} ${node.checked==1?'on':''} ${node.checked==2?'partial':''}"
		   if.bind="options.showCheckbox && node.level>=options.checkboxLevel"
		   click.trigger="itemSelect()">
			<span class="${node.checked<1?'fi-editor-square58':''} ${node.checked==1?'fi-editor-square57':''} ${node.checked==2?'fi-editor-square56':''}"></span>
		</a>

		<a class="ui-link ${!options.showCheckbox && node.active?'ui-active':''}"
		   data-id="${node.id}" click.trigger="itemSelect()">
			<span class="ui-icon fi-ext-document271" if.bind="node.isleaf"></span>
			<span class="ui-icon ${node.iconGlyph}" if.bind="node.iconGlyph"></span>
			<span innerhtml.bind="node.name"></span>
		</a>
	</div>
	<div class="ui-tree-level" if.bind="node.isvisible && !node.leaf && node.expanded">
		<tree-node repeat.for="child of node.children | sort:'name'"
				   node.bind="child"
				   options.bind="$parent.options"></tree-node>
	</div>
</template>