/**
 *	UI Framework Helpers
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

.ui-hide {
  display : none !important;
}

.ui-hidden {
  visibility : hidden !important;
}

.ui-scroll {
  position : relative;
  overflow : auto !important;
}

.ui-block {
  display : block;
}

.ui-inline {
  display : inline-block;
}

// PADDING
.ui-pad-0 {
  padding : 0 !important;
}

.ui-pad-all {
  padding : 0.5em;
}

.ui-pad-h {
  padding : {
	left  : 0.5em;
	right : 0.5em;
  }
}

.ui-pad-v {
  padding  : {
	top    : 0.5em;
	bottom : 0.5em;
  }
}

// MARGIN
.ui-margin-0 {
  margin : 0 !important;
}

.ui-margin-all {
  margin : 0.5em;
}

.ui-margin-h {
  margin  : {
	left  : 0.5em;
	right : 0.5em;
  }
}

.ui-margin-v {
  margin   : {
	top    : 0.5em;
	bottom : 0.5em;
  }
}

// BORDERS
.ui-border-all {
  border : 1px solid $base-border-color;
}

.ui-border-h {
  border  : {
	style : solid;
	width : 1px 0;
	color : $base-border-color;
  }
}

.ui-border-v {
  border  : {
	style : solid;
	width : 0 1px;
	color : $base-border-color;
  }
}

.ui-border-t {
  border-top : 1px solid $base-border-color;
}

.ui-border-b {
  border-bottom : 1px solid $base-border-color;
}

.ui-border-l {
  @include border(start, 1px solid $base-border-color);
}

.ui-border-r {
  @include border(end, 1px solid $base-border-color);
}

.ui-push-right {
  float : right;
}

.ui-table {
  width  : 100%;
  border : 1px solid $base-border-color;

  td {
	padding : 0.3em 0.7em;
	border  : {
	  width : 1px 0;
	  style : solid;
	  color : $base-border-color;
	}
  }
  thead > td {
	font-weight : $font-weight-strong;
  }
  tbody > tr:nth-child(even) > td {
	background : shade($base-bg, 3%);
  }
}