/**
 *	UI Framework Resets
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/
@import "compass/reset";

h1, h2, h3, h4, h5, h6, p, ul, ol, dt, dd, dl {
  margin: 0;
  padding: 0.3rem 0.7rem;
  position: initial;
}

div, template {
  position: initial;
  display: block;
}

p {
  line-height: 1.5;
}

textarea {
  resize: vertical;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
  border: none !important;
}

body[dir='rtl'] {
  [class^="fi-"], [class*="fi-"] {
	transform: scale(-1, 1);
  }
  .ui-flip {
	transform: scale(1, 1);
  }
}