/**
 *	Buttons
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

@mixin button-style($prefix, $bg, $color, $border) {

  &.ui-button-#{$prefix} {
	color: $color;
	background: linear-gradient(top, $bg, darken($bg, 2%));
	border-color: $border;
	text-shadow: 0 1px 0 rgba(contrast($color, #787878, #fff), 0.5);

	&:hover, &.ui-dropdown {
	  $hover-bg: shade($bg, 6%);
	  border-color: shade($border, 10%);
	  background: linear-gradient(top, $hover-bg, darken($hover-bg, 4%));
	}
	&:focus {
	  @include box-shadow(1px 1px 1px 0 $base-shadow-color, 0 0 3px 0 $color inset);
	}
	&:active, &.ui-dropdown {
	  @include box-shadow(1px 1px 1px 0 $base-shadow-color,
			  1px 1px 1px 0 rgba(#000, 0.5) inset,
			  -1px -1px 1px 0 rgba(#fff, 0.5) inset);
	}
  }
}

.ui-button {
  padding: 0.35rem 0.75rem;
  font-size: 1rem;
  font-weight: $font-weight-normal;
  border: 1px solid $base-border-color;
  border-radius: $base-border-radius;
  @include box-shadow(1px 1px 1px 0 $base-shadow-color);

  &.ui-default {
	font-weight: $font-weight-strong;
  }

  &.ui-dropdown {
	@include border-bottom-radius(0);
	~ .ui-floating {
	  @include border-top-radius(0);
	  display: block;
	  max-height: 280px;
	}
  }

  &, & i {
	cursor: pointer;
  }

  i.ui-caret {
	color: rgba(#333, 0.6);
	&:after {
	  content: '\25be';
	}
  }

  &.ui-button-small {
	padding: 0.1rem 0.3rem;
	font-size: 0.85rem;
  }
  &.ui-button-large {
	padding: 0.5rem 1.2rem;
	font-size: 1.2rem;
  }

  @include button-style(default, $base-bg, $base-text, $base-border-color);
  @include button-style(primary, $button-primary-bg, $button-primary-text, $button-primary-border);
  @include button-style(secondary, $button-secondary-bg, $button-secondary-text, $button-secondary-border);
  @include button-style(info, $button-info-bg, $button-info-text, $button-info-border);
  @include button-style(danger, $button-danger-bg, $button-danger-text, $button-danger-border);
  @include button-style(success, $button-success-bg, $button-success-text, $button-success-border);
  @include button-style(warning, $button-warning-bg, $button-warning-text, $button-warning-border);
}

.ui-button-group {
  @include flexbox((
		  display: inline-flex,
		  flex-direction:row,
		  flex-wrap:nowrap,
		  align-items:stretch
  ));

  .ui-button {
	@include flex(0 0 auto);
	border-radius: 0;

	&.ui-checked {
	  color: $button-toggle-active-text;
	  text-shadow: 0 -1px 0 contrast($button-toggle-active-text, #787878, #fff);
	  background: linear-gradient(top, darken($button-toggle-active-bg, 5%), $button-toggle-active-bg);
	  @include box-shadow(1px 1px 1px 0 $base-shadow-color, 1px 1px 3px 2px darken($button-toggle-active-bg, 15%) inset);
	}
  }

  &:not(.ui-vertical) .ui-button {
	border-left-width: 0;
	margin: 2px 0;

	&:first-child {
	  border-left-width: 1px;
	  @include border-left-radius($base-border-radius);
	}
	&:last-child {
	  @include border-right-radius($base-border-radius);
	}
  }

  &.ui-vertical {
	@include flex-direction(column);
	.ui-button {
	  border-top-width: 0;
	  margin: 0 2px;

	  &:first-child {
		border-top-width: 1px;
		@include border-top-radius($base-border-radius);
	  }
	  &:last-child {
		@include border-bottom-radius($base-border-radius);
	  }
	}
  }
}