/**
 *	Color variables
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 */

// GRAYS
$black               : #000000;
$licorice            : #1A1110;
$outer-space         : #2D383A;
$leather-jacket      : #253529;
$black-olive         : #3B3C36;
$arsenic             : #3B444B;
$charcoal            : #36454F;
$dark-slate-gray     : #2F4F4F;
$slate-gray          : #536872;
$black-coral         : #54626F;
$charcoal-gray       : #736A62;
$dim-gray            : #696969;
$smoke               : #738276;
$gray                : #8B8680;
$spanish-gray        : #989898;
$cadet-gray          : #91A3B0;
$ash-gray            : #B2BEB5;
$silver              : #C9C0BB;
$blue-gray           : #C8C8CD;
$timberwolf          : #D9D6CF;
$isabelline          : #F4F0EC;
$white-smoke         : #F5F5F5;
$baby-powder         : #FEFEFA;
$coconut             : #FEFEFE;
$snow                : #FAFBFA;
$floral-white        : #FFFAF0;
$white               : #FFFFFF;

// GEMS
$ruby                : #AA4069;
$emerald             : #14A989;
$jade                : #469A84;
$moonstone           : #3AA8C1;
$sapphire            : #2D5DA1;
$amethyst            : #64609A;
$onyx                : #353839;
$topaz               : #FFC87C;
$ruby-red            : #FD4B58;
$amber               : #FFBF00;
$emerald-green       : #50C878;
$sapphire-blue       : #0F52BA;
$amethyst-violet     : #9966CC;

// FLUORESCENT
$radical-red         : #FF355E;
$wild-watermelon     : #FD5B78;
$outrageous-orange   : #FF6037;
$atomic-tangerine    : #FF9966;
$neon-carrot         : #FF9933;
$sunglow             : #FFCC33;
$laser-lemon         : #FFFF66;
$unmellow-yellow     : #FFFF66;
$electric-lime       : #CCFF00;
$screamin-green      : #66FF66;
$magic-mint          : #AAF0D1;
$blizzard-blue       : #50BFE6;
$shocking-pink       : #FF6EFF;
$razzle-dazzle       : #EE34D2;
$hot-magenta         : #FF00CC;

// Colors
// red
$scarlet             : #FD0E35;
$red                 : #ED0A3F;
$geranium-lake       : #E12C2C;
$cherry              : #DA2647;
$madder-lake         : #CC3336;
$mahogany            : #CA3435;
$brick-red           : #C62D42;
$maroon              : #C32148;
$vermilion           : #CC474B;
$indian-red          : #B94E48;
$dark-vermilion      : #B33B24;
$venetian-red        : #CC553D;
$orange-red          : #FF5349;
$rose                : #FF5050;
$sunset-orange       : #FE4C40;
$bittersweet         : #FE6F5E;
$light-venetian-red  : #E6735C;
$vivid-tangerine     : #FF9980;
$tulip               : #FF878D;
// orange
$mac-and-cheese      : #FFB97B;
$orange              : #FF8833;
$burnt-orange        : #FF7F49;
$red-orange          : #FF681F;
$mango-tango         : #E77200;
$mandarin            : #F37A48;
$yellow-orange       : #FFAE42;
//yellow
$banana              : #FFD12A;
$banana-mania        : #FBE7B2;
$goldenrod           : #FCD667;
$dandelion           : #FED85D;
$yellow              : #FBE870;
$orange-yellow       : #F8D568;
$maize               : #F2C649;
$sunny               : #F2F27A;
$sunset              : #F1CC79;
$green-yellow        : #F1E788;
$canary              : #FFFF99;
$lemon-yellow        : #FFFF9F;
$lemon               : #FFFF38;
// green
$spring-green        : #ECEBBD;
$olive-green         : #B5B35C;
$yellow-green        : #C5E17A;
$lime                : #B2F302;
$inchworm            : #AFE313;
$light-chrome-green  : #BEE64B;
$asparagus           : #7BA05B;
$granny-smith-apple  : #9DE093;
$fern                : #63B76C;
$green               : #3AA655;
$pine                : #45A27D;
$medium-chrome-green : #6CA67C;
$forest-green        : #5FA777;
$caribbean-green     : #6ADA8E;
$sea-green           : #93DFB8;
$eucalyptus          : #44D7A8;
$shamrock            : #33CC99;
$ocean-green         : #48BF91;
$mountain-meadow     : #1AB385;
$jungle-green        : #29AB87;
$rain-forest         : #00755E;
$pine-green          : #01786F;
// blue
$teal-blue           : #008080;
$robin-egg-blue      : #00CCCC;
$light-blue          : #8FD8D8;
$aquamarine          : #95E0E8;
$turquoise-blue      : #6CDAE7;
$skyblue             : #76D7EA;
$aqua                : #5FBED7;
$turquoise           : #3BBCD0;
$blue-green          : #0095B7;
$pacific-blue        : #009DC4;
$cerulean            : #02A4D3;
$azure-blue          : #4997D0;
$cerulean-blue       : #339ACC;
$cornflower          : #93CCEA;
$fresh-air           : #A6E7FF;
$green-blue          : #2887C8;
$prussian-blue       : #00468C;
$navy-blue           : #0066CC;
$denim               : #1560BD;
$blueberry           : #4F86F7;
$blue                : #0066FF;
$medium-blue         : #4570E6;
$new-car             : #214FC6;
$ultramarine-blue    : #3F26BF;
$indigo              : #4F69C6;
$wild-blue-yonder    : #7A89B8;
$cadet-blue          : #A9B2C3;
$periwinkle          : #C3CDE6;
// purple
$soap                : #CEC8EF;
$manatee             : #8D90A1;
$bluebell            : #9999CC;
$cobalt-blue         : #8C90C8;
$celestial-blue      : #7070CC;
$violet-blue         : #766EC8;
$blue-violet         : #6456B7;
$purple-heart        : #652DC1;
$grape               : #6F2DA8;
$royal-purple        : #6B3FA0;
$violet              : #8359A3;
$medium-violet       : #8F47B3;
$wisteria            : #C9A0DC;
$lavender            : #BF8FCC;
$purple-mountains    : #D6AEDD;
$lilac               : #DB91EF;
$vivid-violet        : #803790;
$purple              : #732E6C;
$eggplant            : #614051;
$plum                : #8E3179;
$fuchsia             : #C154C1;
$medium-rose         : #D96CBE;
$brilliant-rose      : #E667CE;
$pink-flamingo       : #FC74FD;
$orchid              : #E29CD2;
$thistle             : #EBB0D7;
$mulberry            : #C8509B;
$red-violet          : #BB3385;
$jazzberry-jam       : #A50B5E;
// pink
$magenta             : #F653A6;
$cerise              : #DA3287;
$wild-strawberry     : #FF3399;
$pink-lavender       : #FBAED2;
$cotton-candy        : #FFB7D5;
$carnation-pink      : #FFA6C9;
$violet-red          : #F7468A;
$razzmatazz          : #E30B5C;
$piggy-pink          : #FDD7E4;
$carmine             : #E62E6B;
$cranberry           : #DB5079;
$tickle-me-pink      : #FC80A5;
$mauvelous           : #F091A9;
$salmon              : #FF91A4;
$strawberry          : #FC5A8D;
$melon               : #FEBAAD;
$pink-sherbert       : #F7A38E;
// brown
$sienna              : #E6BC5C;
$burnt-sienna        : #E97451;
$raw-sienna          : #D27D46;
$brown               : #AF593E;
$sepia               : #9E5B40;
$fuzzy-wuzzy         : #87421F;
$van-dyke-brown      : #664228;
$raw-umber           : #665233;
$burnt-umber         : #805533;
$beaver              : #926F5B;
$tumbleweed          : #DEA681;
$tan                 : #D99A6C;
$peach               : #FFCBA4;
$apricot             : #FDD5B1;
$desert-sand         : #EDC9AF;
$almond              : #EED9C4;
$shadow              : #837050;
$green-gold          : #92926E;
$gold                : #E6BE8A;
$copper              : #DA8A67;
$antique-brass       : #C88A65;

// Pastels
$pastel-red          : #FF4D4D;
$pastel-orange       : #FF944D;
$pastel-orange-yellow: #FFCC66;
$pastel-yellow       : #FFFF99;
$pastel-yellow-green : #CCFF99;
$pastel-green        : #66C285;
$pastel-blue-green   : #94D4D4;
$pastel-blue-light   : #99EBFF;
$pastel-blue         : #4DB8FF;
$pastel-purple       : #CC99FF;
$pastel-violet       : #FF99FF;
$pastel-pink         : #FF99CC;
$pastel-brown        : #B9AB8E;
$pastel-gray         : #939393;
$pastel-light-gray   : #B8B8B8;

// Brights
$bright-red          : #FD0E35;
$bright-orange       : #FF9833;
$bright-yellow       : #FFFF37;
$bright-green        : #66FF66;
$bright-blue         : #4570E6;
$bright-purple       : #652DC1;
$bright-pink         : #FF3399;
$bright-brown        : #9E5B40;
