/**
 *	UI Framework Containers
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

.ui-section {
  @include flex(1 1 0%);
  overflow: hidden;
  position: relative;

  &.ui-flex-row {
	@include flex-row($align: stretch, $wrap: false);
  }

  &.ui-flex-column {
	@include flex-column($align: stretch, $wrap: false);
  }
}

.ui-content {
  @include flex(1 1 auto);
  overflow: auto;
  position: relative;
  z-index: 3;

  &.ui-flex-column {
	overflow: hidden;

  }
}

.ui-sidebar {
  @include flex(0 0 250px);
  overflow: auto;
  position: relative;
  z-index: 2;
  border: {
	width: 0 1px;
	style: solid;
	color: $base-border-color;
  }

  &.first-child {
	border-left: none;
  }
  &.last-child {
	border-right: none;
  }
}

.ui-header {
  @include flex-row($wrap: false);
  @include flex(0 0 auto);
  z-index: 1;

  h4 {
	@include flex(1 1 auto);
	margin: 0;
	padding: $base-padding;
  }

  .button {
	margin: 0 5px;
  }
}

.ui-statsbar {
  @include flex-row($align: stretch, $wrap: false);
  @include flex(0 0 auto);
  z-index: 2;
}

.ui-toolbar {
  @include flex-row($justify: flex-end, $wrap: false);
  @include flex(0 0 auto);
  z-index: 2;
}
