/**
 *	UI DataGrid
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/
.datagrid {
  display: block;
  overflow: auto;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  //border: 1px solid $base-border-color;

  .ui-button-small {
	padding: 0;
	width: 22px;
	height: 22px;
	margin: 2px;
	font-size: 1.1em;
	line-height: 0;
	font-weight: $font-weight-strong;
	color: $primary;

	&.noshow {
	  visibility: hidden;
	}
  }
  div > a {
	font-weight: $font-weight-strong;
	strong {
	  font-weight: 700;
	}
	&:hover {
	  text-decoration: underline;
	}
  }

  @include flex(1 1 auto);

  > table > thead, > table > tfoot {
	@include sticky();
  }

  table {
	min-width: 100%;
	min-height: 100%;
	table-layout: fixed;

	colgroup > col {
	  border-right: 1px solid $baby-powder;
	}

	td {
	  overflow: hidden;
	  background: $white;
	}

	td.sticky {
	  @include sticky();
	  left: 0;
	  z-index: 10;

	  &.last-of-type > div {
		border-right: 1px solid darken($base-border-color, 5%) !important;
	  }
	}

	td div {
	  margin: 0;
	  line-height: 1.4;
	  padding: 0.3rem 0.4rem;
	  @include text-truncate();

	  &.button-cell {
		padding: 0;
		height: 100%;
	  }
	}

	tr.ui-blank-row {
	  td, div {
		height: 100%;
		padding: 0 !important;
		min-height: 0 !important;
		background: none !important;
	  }
	}

	> thead {
	  top: 0;
	  z-index: 20;
	  td > div {
		padding: 0;
		height: 28px;
		@include display-flex(flex);
		@include flex-direction(row);
		@include align-items(stretch);
		overflow: hidden;
		background: $table-bg;
		border-bottom: 1px solid $base-border-color;
		p {
		  @include flex(1 1 auto);
		  @include text-truncate();
		  font-weight: $font-weight-strong;
		  position: relative;
		  line-height: 1.4;
		}

		&.sortable {
		  cursor: pointer;
		  &:hover {
			background: $table-hover-bg;
		  }

		  p {
			padding-right: 8px;

			&:before {
			  content: '\e082';
			  font-family: Elegant;
			  display: block;
			  height: 14px;
			  width: 15px;
			  font-weight: $font-weight-normal;
			  font-size: 1.5em;
			  line-height: 1;
			  color: rgba($gray, .25);
			  @include position(absolute, 0 0 auto auto);
			}
			&:after {
			  content: '\e091';
			  font-family: Elegant;
			  display: block;
			  height: 14px;
			  width: 15px;
			  font-weight: $font-weight-normal;
			  font-size: 1.5em;
			  line-height: 0.6;
			  color: rgba($gray, .25);
			  @include position(absolute, auto 0 0 auto);
			}

			&.asc:before {
			  color: rgba($gray, .75);
			}

			&.desc:after {
			  color: rgba($gray, .75);
			}
		  }
		}
		span.resizer {
		  margin-left: 3px;
		  @include flex(0 0 auto);
		  border-right: 1px solid darken($table-bg, 15%);

		  &.enable {
			cursor: ew-resize;
			i {
			  padding-bottom: 30px;
			  border-left: 1px solid darken($table-bg, 20%);
			  border-right: 1px solid lighten($table-bg, 20%);
			}
		  }
		}
	  }
	}

	> tbody {
	  overflow: auto;
	  z-index: 10;

	  tr:nth-of-type(odd) > td > div {
		background: $table-bg;
	  }
	  tr:nth-of-type(even) > td > div {
		background: $table-alt-bg;
	  }

	  tr:hover:not(.active) > td > div {
		background: $table-hover-bg;
		@include transition(background 0.2s linear 0.5s);
	  }

	  tr.active > td > div {
		@include transition(background 0.05s linear 0s);
		background: $table-active-bg;
	  }

	  tr:last-child {
		height: 100%;
	  }
	}

	> tfoot {
	  bottom: 0;
	  z-index: 20;
	  td > div {
		height: 28px;
		font-weight: $font-weight-strong;
		font-size: 1.1em;
		background: $table-bg;
		border-top: 1px solid $base-border-color;
	  }
	}
  }
}