/**
 *	UI Checkbox and Radio
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

.ui-option {
  @include size(auto, 26px);
  position: relative;
  padding: 3px !important;
  text-align: center;
  display: inline-flex;
  border: 1px solid transparent;

  &.ui-addon {
	width: 26px;
  }

  .ui-option-input {
	@include position(absolute, 0);
	cursor: pointer;
	opacity: 0;
	margin: 0;
  }
  .ui-check-mark {
	@include size(18px, 18px);
	z-index: 1;
	display: inline-block;
	position: relative;
	border-radius: 3px;
	color: $input-option-color;
	background: $input-bg;
	border: 1px solid $input-option-color;
	@include box-shadow(0 0 2px 1px $base-shadow-color inset);

	&:after {
	  content: ' ';
	  font-size: 18px;
	  line-height: 18px;
	  text-align: left;
	  font-weight: 600;
	  top: -1px;
	  left: -1px;
	  font-family: Essential;
	  position: relative;
	}
  }
  .ui-option-input:focus:not(:disabled) ~ .ui-check-mark,
  .ui-option-input:hover:not(:disabled) ~ .ui-check-mark {
	color: $input-option-color-focus;
	border-color: $input-option-color-focus;
	@include box-shadow(0 0 3px 1px $input-option-color-focus inset);
  }
  .ui-option-input:disabled ~ .ui-check-mark {
	color: $input-option-color-disabled;
	border-color: $input-option-color-disabled;
	@include box-shadow(0 0 2px 1px tint($input-option-color-disabled, 5%) inset);
  }
  &.ui-radio .ui-check-mark {
	border-radius: 9px;
  }
  &.ui-checkbox .ui-option-input:checked ~ .ui-check-mark:after {
	content: '\e035';
  }
  &.ui-radio .ui-option-input:checked ~ .ui-check-mark:after {
	content: '\e039';
  }

  .ui-label {
	@include size(auto, 26px);
	display: inline-block;
	padding: 0.3rem 0.5rem;
  }
}

.ui-option-group {
  @include flex-row(flex-start, flex-start, true);
  @include flex(1 1 auto);
  .ui-option {
	@include flex(1 1 33.33%);
	.ui-label {
	  width: auto;
	  flex: 1 0 0%;
	  text-align: start;
	  padding: 0.15rem 0.3rem;
	  @include ellipsis();
	}
  }
}