/**
 *	UI Switch
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

.ui-switch-control {
  white-space: nowrap;
  display: inline-block;

  .ui-switch {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 56px;
	height: 24px;
	padding: 2px;
	background-color: $base-bg;
	border-radius: 18px;
	box-shadow: inset 0 0 1px 1px #ddd, inset 0 1px 5px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;

	&.ui-focus {
	  box-shadow: 0 0 3px 0 $input-focus-color, 0 0 8px 1px $input-focus-color inset;
	}

	.ui-switch-input {
	  @include position(absolute, 0);
	  opacity: 0
	}

	.ui-switch-label {
	  position: relative;
	  display: block;
	  height: inherit;
	  font-size: 10px;
	  text-transform: uppercase;
	  cursor: pointer;
	  background: #f9f9f9;
	  border-radius: inherit;
	  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.32), inset 0 0 2px rgba(0, 0, 0, 0.35);
	  @include transition(opacity .25s ease-out, background .25s ease-out)
	}

	.ui-switch-label:before, .ui-switch-label:after {
	  position: absolute;
	  top: 50%;
	  margin-top: -0.5em;
	  line-height: 1;
	  @include transition(inherit);
	}

	.ui-switch-label:before {
	  content: attr(data-off);
	  right: 11px;
	  color: #aaa;
	  text-shadow: 0 1px rgba(255, 255, 255, 0.5)
	}

	.ui-switch-label:after {
	  content: attr(data-on);
	  left: 11px;
	  color: white;
	  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	  opacity: 0
	}

	.ui-switch-input:checked ~ .ui-switch-label {
	  background: $dim-gray;
	  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.35), inset 0 0 3px rgba(0, 0, 0, 0.4)
	}

	.ui-switch-input:checked ~ .ui-switch-label:before {
	  opacity: 0
	}

	.ui-switch-input:checked ~ .ui-switch-label:after {
	  opacity: 1
	}

	.ui-switch-handle {
	  cursor: pointer;
	  width: 20px;
	  height: 20px;
	  background: white linear-gradient(top, #fff, #f0f0f0);
	  border-radius: 11px;
	  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	  @include transition(left .25s ease-out);
	  @include position(absolute, 4px 0 0 4px);
	}

	.ui-switch-handle:before {
	  content: '';
	  margin: -6px 0 0 -6px;
	  width: 12px;
	  height: 12px;
	  background: #f9f9f9 linear-gradient(top, #eee, #fff);
	  border-radius: 6px;
	  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
	  @include position(absolute, 50% null null 50%);
	}

	.ui-switch-input:checked ~ .ui-switch-handle {
	  left: 36px;
	  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2)
	}

	&.ui-switch-primary > .ui-switch-input:checked ~ .ui-switch-label {
	  background: $primary;
	}

	&.ui-switch-success > .ui-switch-input:checked ~ .ui-switch-label {
	  background: $success;
	}

	&.ui-switch-warning > .ui-switch-input:checked ~ .ui-switch-label {
	  background: $warning;
	}

	&.ui-switch-info > .ui-switch-input:checked ~ .ui-switch-label {
	  background: $info;
	}

	&.ui-switch-danger > .ui-switch-input:checked ~ .ui-switch-label {
	  background: $danger;
	}

	&.ui-switch.ui-switch-gender {
	  width: 76px;

	  > .ui-switch-input {
		~ .ui-switch-label {
		  background: $azure-blue;
		  &:before {
			color: $white;
			content: 'Male';
			text-shadow: 0 1px rgba(0, 0, 0, 0.2);
		  }

		  &:after {
			content: 'Female';
		  }
		}

		&:checked {
		  ~ .ui-switch-handle {
			left: 56px;
		  }
		  ~ .ui-switch-label {
			background: $strawberry;
		  }
		}
	  }
	}

	&.ui-switch.ui-switch-priority {
	  width: 86px;

	  > .ui-switch-input {
		~ .ui-switch-label {
		  &:before {
			color: $arsenic;
			content: 'Normal';
		  }

		  &:after {
			content: 'Priority';
		  }
		}

		&:checked {
		  ~ .ui-switch-handle {
			left: 66px;
		  }
		  ~ .ui-switch-label {
			background: $venetian-red;
		  }
		}
	  }
	}

	&.ui-switch.ui-switch-ampm {

	  > .ui-switch-input {
		~ .ui-switch-label {
		  background: $sunglow;
		  &:before {
			color: $arsenic;
			content: 'AM';
		  }

		  &:after {
			content: 'PM';
		  }
		}

		&:checked ~ .ui-switch-label {
		  background: $black-coral;
		}
	  }
	}
  }

  .ui-switch ~ label {
	position: relative;
	display: inline !important;
	color: $input-label-text;
	cursor: pointer;
	top: 0.4rem;
	padding: 0 0.2rem;
  }
}
