/**
 *	UI Typography
 *	@author 	Adarsh Pastakia
 *	@company	HMC
 *  @copyright 	2015-2016, Adarsh Pastakia
 **/

// Headers
h1, .ui-h1 {
  font-size: 2rem;
}

h2, .ui-h2 {
  font-size: 1.8rem;
}

h3, .ui-h3 {
  font-size: 1.5rem;
}

h4, .ui-h4 {
  font-size: 1.25rem;
}

h5, .ui-h5 {
  font-size: 1.1rem;
}

h6, .ui-h6 {
  font-size: 0.9rem;
}

h1, h2, h3, h4, h5, h6 {
  > small {
	display: block;
	font-size: 0.85em;
	color: $text-muted;
	line-height: 1.5;
  }
}

code {
  padding: 0 0.1rem;
  border-radius: 2px;
  color: $maroon;
  line-height: 1.8;
  background: lighten($tulip, 20%);
  font-weight: $font-weight-strong;
  word-break: keep-all;
}

// Styles
.ui-strong, strong {
  font-weight: $font-weight-strong;
}

.ui-bold, b {
  font-weight: $font-weight-bold;
}

.ui-italic, i, cite, em, var, address, dfn {
  font-style: italic;
}

.ui-small-caps {
  font-variant: small-caps;
}

.ui-uppercase {
  text-transform: uppercase;
}

.ui-lowercase {
  text-transform: lowercase;
}

.ui-titlecase {
  text-transform: capitalize;
}

// Sizes
.ui-font-small, small {
  font-size: 0.75rem;
}

.ui-font-big {
  font-size: 1.15rem;
}

.ui-font-large, big {
  font-size: 1.5rem;
}

// Colors
.ui-text-muted {
  color: $text-muted;
}

.ui-text-primary {
  color: $primary;
}

.ui-text-info {
  color: $info;
}

.ui-text-danger {
  color: $danger;
}

.ui-text-success {
  color: $success;
}

.ui-text-warning {
  color: $warning;
}

